<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
 <key>BuildMachineOSBuild</key>
 <string>19A477</string>
 <key>CFBundleAllowMixedLocalizations</key>
 <true/>
 <key>CFBundleDevelopmentRegion</key>
 <string>en</string>
 <key>CFBundleExecutable</key>
 <string>SampleXCUITests-Runner</string>
 <key>CFBundleIdentifier</key>
 <string>com.bsstack.SampleXCUITests.xctrunner</string>
 <key>CFBundleInfoDictionaryVersion</key>
 <string>6.0</string>
 <key>CFBundleName</key>
 <string>SampleXCUITests-Runner</string>
 <key>CFBundlePackageType</key>
 <string>APPL</string>
 <key>CFBundleShortVersionString</key>
 <string>1.0</string>
 <key>CFBundleSignature</key>
 <string>????</string>
 <key>CFBundleSupportedPlatforms</key>
 <array>
  <string>iPhoneOS</string>
 </array>
 <key>CFBundleVersion</key>
 <string>1</string>
 <key>DTCompiler</key>
 <string>com.apple.compilers.llvm.clang.1_0</string>
 <key>DTPlatformBuild</key>
 <string>17A556</string>
 <key>DTPlatformName</key>
 <string>iphoneos</string>
 <key>DTPlatformVersion</key>
 <string>13.0</string>
 <key>DTSDKBuild</key>
 <string>17A556</string>
 <key>DTSDKName</key>
 <string>iphoneos13.0.internal</string>
 <key>DTXcode</key>
 <string>1130</string>
 <key>DTXcodeBuild</key>
 <string>11C499</string>
 <key>LSRequiresIPhoneOS</key>
 <true/>
 <key>MinimumOSVersion</key>
 <string>8.0</string>
 <key>NSAppTransportSecurity</key>
 <dict>
  <key>NSAllowsArbitraryLoads</key>
  <true/>
 </dict>
 <key>UIBackgroundModes</key>
 <array>
  <string>unboundedTaskCompletion</string>
  <string>continuous</string>
 </array>
 <key>UIDeviceFamily</key>
 <array>
  <integer>1</integer>
  <integer>2</integer>
 </array>
 <key>UIRequiredDeviceCapabilities</key>
 <array>
  <string>armv7</string>
 </array>
 <key>UIRequiresFullScreen</key>
 <true/>
 <key>UISupportedInterfaceOrientations</key>
 <array>
  <string>UIInterfaceOrientationPortrait</string>
  <string>UIInterfaceOrientationLandscapeLeft</string>
  <string>UIInterfaceOrientationLandscapeRight</string>
 </array>
 <key>UISupportedInterfaceOrientations~ipad</key>
 <array>
  <string>UIInterfaceOrientationPortrait</string>
  <string>UIInterfaceOrientationPortraitUpsideDown</string>
  <string>UIInterfaceOrientationLandscapeLeft</string>
  <string>UIInterfaceOrientationLandscapeRight</string>
 </array>
</dict>
</plist>
