*.iml
.idea/
build/
Build/
out/
.DS_Store
.gradle/
test_artifacts
test_runner/flank/
local.properties
/report.json
results
xcuserdata/
test_projects/ios/*/build*
android_shards.json
ios_shards.json
*.log
test_runner/src/main/resources/binaries/
ktlint
flank-scripts.jar
corellium/shard/dump/dump-shards.json
corellium/domain/test_results/*
tool/shard/dump/dump-shards.json
