openapi: 3.0.0
info:
  title: Google Cloud Testing API
  description: Allows developers to run automated tests for their mobile applications on Google infrastructure.
  version: v1
servers:
- url: https://testing.googleapis.com/
security:
- {}
paths:
  /v1/testEnvironmentCatalog/{environmentType}:
    get:
      tags:
      - testEnvironmentCatalog
      summary: GetV1TestEnvironmentCatalog
      description: |-
        Get the catalog of supported test environments.

        May return any of the following canonical error codes:

        - INVALID_ARGUMENT - if the request is malformed
        - NOT_FOUND - if the environment type does not exist
        - INTERNAL - if an internal error occurred
      operationId: GetV1TestEnvironmentCatalog
      parameters:
      - name: environmentType
        in: path
        description: |-
          The type of environment that should be listed.
          Required (Acceptable values are: "ENVIRONMENT_TYPE_UNSPECIFIED", "ANDROID", "NETWORK_CONFIGURATION")
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: upload_protocol
        in: query
        description: Upload protocol for media (e.g. "raw", "multipart").
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: prettyPrint
        in: query
        description: Returns response with indentations and line breaks.
        required: false
        style: form
        explode: true
        schema:
          type: boolean
          default: true
      - name: uploadType
        in: query
        description: Legacy upload protocol for media (e.g. "media", "multipart").
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: fields
        in: query
        description: Selector specifying which fields to include in a partial response.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: $.xgafv
        in: query
        description: 'V1 error format. (Acceptable values are: "1", "2")'
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: callback
        in: query
        description: JSONP
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: alt
        in: query
        description: 'Data format for response. (Acceptable values are: "json", "media",
          "proto")'
        required: false
        style: form
        explode: true
        schema:
          type: string
          example: json
          default: json
      - name: access_token
        in: query
        description: OAuth access token.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: key
        in: query
        description: API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: quotaUser
        in: query
        description: Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: pp
        in: query
        description: Pretty-print response.
        required: false
        style: form
        explode: true
        schema:
          type: boolean
          default: true
      - name: oauth_token
        in: query
        description: OAuth 2.0 token for the current user.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: bearer_token
        in: query
        description: OAuth bearer token.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: projectId
        in: query
        description: |-
          For authorization, the cloud project requesting the TestEnvironmentCatalog.
          Optional
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TestEnvironmentCatalog'
      deprecated: false
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
      x-accepts: application/json
  /v1/projects/{projectId}/testMatrices/{testMatrixId}:cancel:
    post:
      tags:
      - testMatrices
      summary: CancelV1ProjectsTestMatricesCancelByProjectId
      description: |-
        Cancels unfinished test executions in a test matrix.
        This call returns immediately and cancellation proceeds asychronously.
        If the matrix is already final, this operation will have no effect.

        May return any of the following canonical error codes:

        - PERMISSION_DENIED - if the user is not authorized to read project
        - INVALID_ARGUMENT - if the request is malformed
        - NOT_FOUND - if the Test Matrix does not exist
      operationId: CancelV1ProjectsTestMatricesCancelByProjectId
      parameters:
      - name: projectId
        in: path
        description: Cloud project that owns the test.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: testMatrixId
        in: path
        description: Test matrix that will be canceled.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: upload_protocol
        in: query
        description: Upload protocol for media (e.g. "raw", "multipart").
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: prettyPrint
        in: query
        description: Returns response with indentations and line breaks.
        required: false
        style: form
        explode: true
        schema:
          type: boolean
          default: true
      - name: uploadType
        in: query
        description: Legacy upload protocol for media (e.g. "media", "multipart").
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: fields
        in: query
        description: Selector specifying which fields to include in a partial response.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: $.xgafv
        in: query
        description: 'V1 error format. (Acceptable values are: "1", "2")'
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: callback
        in: query
        description: JSONP
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: alt
        in: query
        description: 'Data format for response. (Acceptable values are: "json", "media",
          "proto")'
        required: false
        style: form
        explode: true
        schema:
          type: string
          example: json
          default: json
      - name: access_token
        in: query
        description: OAuth access token.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: key
        in: query
        description: API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: quotaUser
        in: query
        description: Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: pp
        in: query
        description: Pretty-print response.
        required: false
        style: form
        explode: true
        schema:
          type: boolean
          default: true
      - name: oauth_token
        in: query
        description: OAuth 2.0 token for the current user.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: bearer_token
        in: query
        description: OAuth bearer token.
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CancelTestMatrixResponse'
      deprecated: false
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
      x-contentType: application/json
      x-accepts: application/json
  /v1/projects/{projectId}/testMatrices/{testMatrixId}:
    get:
      tags:
      - testMatrices
      summary: GetV1ProjectsTestMatricesByProjectId
      description: |-
        Check the status of a test matrix.

        May return any of the following canonical error codes:

        - PERMISSION_DENIED - if the user is not authorized to read project
        - INVALID_ARGUMENT - if the request is malformed
        - NOT_FOUND - if the Test Matrix does not exist
      operationId: GetV1ProjectsTestMatricesByProjectId
      parameters:
      - name: projectId
        in: path
        description: Cloud project that owns the test matrix.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: testMatrixId
        in: path
        description: Unique test matrix id which was assigned by the service.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: upload_protocol
        in: query
        description: Upload protocol for media (e.g. "raw", "multipart").
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: prettyPrint
        in: query
        description: Returns response with indentations and line breaks.
        required: false
        style: form
        explode: true
        schema:
          type: boolean
          default: true
      - name: uploadType
        in: query
        description: Legacy upload protocol for media (e.g. "media", "multipart").
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: fields
        in: query
        description: Selector specifying which fields to include in a partial response.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: $.xgafv
        in: query
        description: 'V1 error format. (Acceptable values are: "1", "2")'
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: callback
        in: query
        description: JSONP
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: alt
        in: query
        description: 'Data format for response. (Acceptable values are: "json", "media",
          "proto")'
        required: false
        style: form
        explode: true
        schema:
          type: string
          example: json
          default: json
      - name: access_token
        in: query
        description: OAuth access token.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: key
        in: query
        description: API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: quotaUser
        in: query
        description: Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: pp
        in: query
        description: Pretty-print response.
        required: false
        style: form
        explode: true
        schema:
          type: boolean
          default: true
      - name: oauth_token
        in: query
        description: OAuth 2.0 token for the current user.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: bearer_token
        in: query
        description: OAuth bearer token.
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TestMatrix'
      deprecated: false
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
      x-accepts: application/json
  /v1/projects/{projectId}/testMatrices:
    post:
      tags:
      - testMatrices
      summary: CreateV1ProjectsTestMatricesByProjectId
      description: |-
        Request to run a matrix of tests according to the given specifications.
        Unsupported environments will be returned in the state UNSUPPORTED.
        Matrices are limited to at most 200 supported executions.

        May return any of the following canonical error codes:

        - PERMISSION_DENIED - if the user is not authorized to write to project
        - INVALID_ARGUMENT - if the request is malformed or if the matrix expands
                             to more than 200 supported executions
      operationId: CreateV1ProjectsTestMatricesByProjectId
      parameters:
      - name: projectId
        in: path
        description: The GCE project under which this job will run.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: upload_protocol
        in: query
        description: Upload protocol for media (e.g. "raw", "multipart").
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: prettyPrint
        in: query
        description: Returns response with indentations and line breaks.
        required: false
        style: form
        explode: true
        schema:
          type: boolean
          default: true
      - name: uploadType
        in: query
        description: Legacy upload protocol for media (e.g. "media", "multipart").
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: fields
        in: query
        description: Selector specifying which fields to include in a partial response.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: $.xgafv
        in: query
        description: 'V1 error format. (Acceptable values are: "1", "2")'
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: callback
        in: query
        description: JSONP
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: alt
        in: query
        description: 'Data format for response. (Acceptable values are: "json", "media",
          "proto")'
        required: false
        style: form
        explode: true
        schema:
          type: string
          example: json
          default: json
      - name: access_token
        in: query
        description: OAuth access token.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: key
        in: query
        description: API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: quotaUser
        in: query
        description: Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: pp
        in: query
        description: Pretty-print response.
        required: false
        style: form
        explode: true
        schema:
          type: boolean
          default: true
      - name: oauth_token
        in: query
        description: OAuth 2.0 token for the current user.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: bearer_token
        in: query
        description: OAuth bearer token.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: requestId
        in: query
        description: |-
          A string id used to detect duplicated requests.
          Ids are automatically scoped to a project, so
          users should ensure the ID is unique per-project.
          A UUID is recommended.

          Optional, but strongly recommended.
        required: false
        style: form
        explode: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TestMatrix'
        required: true
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TestMatrix'
      deprecated: false
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
      x-contentType: application/json
      x-accepts: application/json
components:
  schemas:
    TestSetup:
      title: TestSetup
      type: object
      properties:
        networkProfile:
          type: string
          description: |-
            The network traffic profile used for running the test.
            Optional
        environmentVariables:
          type: array
          description: |-
            Environment variables to set for the test (only applicable for
            instrumentation tests).
          items:
            type: object
        account:
          type: object
          description: |-
            The device will be logged in on this account for the duration of the test.
            Optional
        directoriesToPull:
          type: array
          description: |-
            List of directories on the device to upload to GCS at the end of the test;
            they must be absolute paths under /sdcard or /data/local/tmp.
            Path names are restricted to characters a-z A-Z 0-9 _ - . + and /

            Note: The paths /sdcard and /data will be made available and treated as
            implicit path substitutions. E.g. if /sdcard on a particular device does
            not map to external storage, the system will replace it with the external
            storage path prefix for that device.

            Optional
          items:
            type: string
        filesToPush:
          type: array
          description: |-
            List of files to push to the device before starting the test.

            Optional
          items:
            type: object
      description: A description of how to set up the device prior to running the test
    TestSpecification:
      title: TestSpecification
      type: object
      properties:
        testTimeout:
          type: string
          description: |-
            Max time a test execution is allowed to run before it is
            automatically cancelled.
            Optional, default is 5 min.
        autoGoogleLogin:
          type: boolean
          description: |-
            Enables automatic Google account login.
            If set, the service will automatically generate a Google test account and
            add it to the device, before executing the test. Note that test accounts
            might be reused.
            Many applications show their full set of functionalities when an account is
            present on the device. Logging into the device with these generated
            accounts allows testing more functionalities.
            Default is false.
            Optional
        testSetup:
          $ref: '#/components/schemas/TestSetup'
        androidRoboTest:
          type: object
          description: An Android robo test.
        androidTestLoop:
          type: object
          description: An Android Application with a Test Loop
        androidInstrumentationTest:
          type: object
          description: An Android instrumentation test.
        disablePerformanceMetrics:
          type: boolean
          description: Disables performance metrics recording; may reduce test latency.
        disableVideoRecording:
          type: boolean
          description: Disables video recording; may reduce test latency.
      description: A description of how to run the test.
    ResultStorage:
      title: ResultStorage
      type: object
      properties:
        googleCloudStorage:
          type: object
          description: Required.
        toolResultsExecution:
          type: object
          description: |-
            The tool results execution that results are written to.
            @OutputOnly
        toolResultsHistory:
          type: object
          description: |-
            The tool results history that contains the tool results execution that
            results are written to.

            Optional, if not provided the service will choose an appropriate value.
      description: Locations where the results of running the test are stored.
    TestMatrix:
      title: TestMatrix
      type: object
      properties:
        timestamp:
          type: string
          description: |-
            The time this test matrix was initially created.
            @OutputOnly
        environmentMatrix:
          type: object
          description: |-
            How the host machine(s) are configured.
            Required
        testMatrixId:
          type: string
          description: |-
            Unique id set by the service.
            @OutputOnly
        resultStorage:
          $ref: '#/components/schemas/ResultStorage'
        invalidMatrixDetails:
          $ref: '#/components/schemas/InvalidMatrixDetails'
        state:
          $ref: '#/components/schemas/State'
        projectId:
          type: string
          description: |-
            The cloud project that owns the test matrix.
            @OutputOnly
        testSpecification:
          $ref: '#/components/schemas/TestSpecification'
        clientInfo:
          type: object
          description: |-
            Information about the client which invoked the test.
            Optional
        testExecutions:
          type: array
          description: |-
            The list of test executions that the service creates for this matrix.
            @OutputOnly
          items:
            type: object
      description: |-
        A group of one or more TestExecutions, built by taking a
        product of values over a pre-defined set of axes.
    InvalidMatrixDetails:
      title: InvalidMatrixDetails
      type: string
      example: INVALID_MATRIX_DETAILS_UNSPECIFIED
      enum:
      - INVALID_MATRIX_DETAILS_UNSPECIFIED
      - DETAILS_UNAVAILABLE
      - MALFORMED_APK
      - MALFORMED_TEST_APK
      - NO_MANIFEST
      - NO_PACKAGE_NAME
      - TEST_SAME_AS_APP
      - NO_INSTRUMENTATION
      - NO_SIGNATURE
      - INSTRUMENTATION_ORCHESTRATOR_INCOMPATIBLE
      - NO_TEST_RUNNER_CLASS
      - NO_LAUNCHER_ACTIVITY
      - FORBIDDEN_PERMISSIONS
      - INVALID_ROBO_DIRECTIVES
      - TEST_LOOP_INTENT_FILTER_NOT_FOUND
      - SCENARIO_LABEL_NOT_DECLARED
      - SCENARIO_LABEL_MALFORMED
      - SCENARIO_NOT_DECLARED
      - DEVICE_ADMIN_RECEIVER
      - TEST_ONLY_APK
    State:
      title: State
      type: string
      example: TEST_STATE_UNSPECIFIED
      enum:
      - TEST_STATE_UNSPECIFIED
      - VALIDATING
      - PENDING
      - RUNNING
      - FINISHED
      - ERROR
      - UNSUPPORTED_ENVIRONMENT
      - INCOMPATIBLE_ENVIRONMENT
      - INCOMPATIBLE_ARCHITECTURE
      - CANCELLED
      - INVALID
    AndroidVersion:
      title: AndroidVersion
      type: object
      properties:
        codeName:
          type: string
          description: |-
            The code name for this Android version.
            Examples: "JellyBean", "KitKat"
            @OutputOnly
        apiLevel:
          type: integer
          description: |-
            The API level for this Android version.
            Examples: 18, 19
            @OutputOnly
          format: int32
        distribution:
          type: object
          description: |-
            Market share for this version.
            @OutputOnly
        tags:
          type: array
          description: |-
            Tags for this dimension.
            Examples: "default", "preview", "deprecated"
          items:
            type: string
        id:
          type: string
          description: |-
            An opaque id for this Android version.
            Use this id to invoke the TestExecutionService.
            @OutputOnly
        releaseDate:
          type: object
          description: |-
            The date this Android version became available in the market.
            @OutputOnly
        versionString:
          type: string
          description: |-
            A string representing this version of the Android OS.
            Examples: "4.3", "4.4"
            @OutputOnly
      description: A version of the Android OS
    FileReference:
      title: FileReference
      type: object
      properties:
        gcsPath:
          type: string
          description: |-
            A path to a file in Google Cloud Storage.
            Example: gs://build-app-1414623860166/app-debug-unaligned.apk
      description: A reference to a file, used for user inputs.
    TestDetails:
      title: TestDetails
      type: object
      properties:
        errorMessage:
          type: string
          description: |-
            If the TestState is ERROR, then this string will contain human-readable
            details about the error.
            @OutputOnly
        progressMessages:
          type: array
          description: |-
            Human-readable, detailed descriptions of the test's progress.
            For example: "Provisioning a device", "Starting Test".

            During the course of execution new data may be appended
            to the end of progress_messages.
            @OutputOnly
          items:
            type: string
      description: Additional details about the progress of the running test.
    ToolResultsExecution:
      title: ToolResultsExecution
      type: object
      properties:
        executionId:
          type: string
          description: |-
            A tool results execution ID.
            @OutputOnly
        projectId:
          type: string
          description: |-
            The cloud project that owns the tool results execution.
            @OutputOnly
        historyId:
          type: string
          description: |-
            A tool results history ID.
            @OutputOnly
      description: |-
        Represents a tool results execution resource.

        This has the results of a TestMatrix.
    ToolResultsHistory:
      title: ToolResultsHistory
      type: object
      properties:
        projectId:
          type: string
          description: |-
            The cloud project that owns the tool results history.
            Required
        historyId:
          type: string
          description: |-
            A tool results history ID.
            Required
      description: Represents a tool results history resource.
    AndroidRoboTest:
      title: AndroidRoboTest
      type: object
      properties:
        maxDepth:
          type: integer
          description: |-
            The max depth of the traversal stack Robo can explore. Needs to be at least
            2 to make Robo explore the app beyond the first activity.
            Default is 50.
            Optional
          format: int32
        appApk:
          $ref: '#/components/schemas/FileReference'
        appPackageId:
          type: string
          description: |-
            The java package for the application under test.
            Optional, default is determined by examining the application's manifest.
        startingIntents:
          type: array
          description: |-
            The intents used to launch the app for the crawl.
            If none are provided, then the main launcher activity is launched.
            If some are provided, then only those provided are launched (the main
            launcher activity must be provided explicitly).
          items:
            type: object
        maxSteps:
          type: integer
          description: |-
            The max number of steps Robo can execute.
            Default is no limit.
            Optional
          format: int32
        appInitialActivity:
          type: string
          description: |-
            The initial activity that should be used to start the app.
            Optional
        roboDirectives:
          type: array
          description: |-
            A set of directives Robo should apply during the crawl.
            This allows users to customize the crawl. For example, the username and
            password for a test account can be provided.
            Optional
          items:
            type: object
      description: |-
        A test of an android application that explores the application on a virtual
        or physical Android Device, finding culprits and crashes as it goes.
    Distribution:
      title: Distribution
      type: object
      properties:
        marketShare:
          type: number
          description: |-
            The estimated fraction (0-1) of the total market with this configuration.
            @OutputOnly
        measurementTime:
          type: string
          description: |-
            The time this distribution was measured.
            @OutputOnly
      description: |-
        Data about the relative number of devices running a
        given configuration of the Android platform.
    Orientation:
      title: Orientation
      type: object
      properties:
        id:
          type: string
          description: |-
            The id for this orientation.
            Example: "portrait"
            @OutputOnly
        tags:
          type: array
          description: |-
            Tags for this dimension.
            Examples: "default"
          items:
            type: string
        name:
          type: string
          description: |-
            A human-friendly name for this orientation.
            Example: "portrait"
            @OutputOnly
      description: Screen orientation of the device.
    AndroidTestLoop:
      title: AndroidTestLoop
      type: object
      properties:
        scenarios:
          type: array
          description: |-
            The list of scenarios that should be run during the test.
            Optional, default is all test loops, derived from the application's
            manifest.
          items:
            type: integer
            format: int32
        scenarioLabels:
          type: array
          description: |-
            The list of scenario labels that should be run during the test.
            The scenario labels should map to labels defined in the application's
            manifest. For example, player_experience and
            com.google.test.loops.player_experience add all of the loops labeled in the
            manifest with the com.google.test.loops.player_experience name to the
            execution.
            Optional. Scenarios can also be specified in the scenarios field.
          items:
            type: string
        appApk:
          $ref: '#/components/schemas/FileReference'
        appPackageId:
          type: string
          description: |-
            The java package for the application under test.
            Optional, default is determined by examining the application's manifest.
      description: |-
        A test of an Android Application with a Test Loop.
        The intent <intent-name> will be implicitly added, since Games is the only
        user of this api, for the time being.
    NetworkConfigurationCatalog:
      title: NetworkConfigurationCatalog
      type: object
      properties:
        configurations:
          type: array
          items:
            type: object
    AndroidDeviceCatalog:
      title: AndroidDeviceCatalog
      type: object
      properties:
        models:
          type: array
          description: |-
            The set of supported Android device models.
            @OutputOnly
          items:
            type: object
        versions:
          type: array
          description: |-
            The set of supported Android OS versions.
            @OutputOnly
          items:
            $ref: '#/components/schemas/AndroidVersion'
        runtimeConfiguration:
          type: object
          description: |-
            The set of supported runtime configurations.
            @OutputOnly
      description: The currently supported Android devices.
    AndroidDeviceList:
      title: AndroidDeviceList
      type: object
      properties:
        androidDevices:
          type: array
          description: |-
            A list of Android devices
            Required
          items:
            type: object
      description: A list of Android device configurations in which the test is to be executed.
    ClientInfo:
      title: ClientInfo
      type: object
      properties:
        clientInfoDetails:
          type: array
          description: The list of detailed information about client.
          items:
            type: object
        name:
          type: string
          description: |-
            Client name, such as gcloud.
            Required
      description: Information about the client which invoked the test.
    EnvironmentMatrix:
      title: EnvironmentMatrix
      type: object
      properties:
        androidDeviceList:
          $ref: '#/components/schemas/AndroidDeviceList'
        androidMatrix:
          type: object
          description: A matrix of Android devices.
      description: The matrix of environments in which the test is to be executed.
    Date20:
      title: Date20
      type: object
      properties:
        year:
          type: integer
          description: |-
            Year of date. Must be from 1 to 9999, or 0 if specifying a date without
            a year.
          format: int32
        day:
          type: integer
          description: |-
            Day of month. Must be from 1 to 31 and valid for the year and month, or 0
            if specifying a year/month where the day is not significant.
          format: int32
        month:
          type: integer
          description: Month of year. Must be from 1 to 12.
          format: int32
      description: |-
        Represents a whole calendar date, e.g. date of birth. The time of day and
        time zone are either specified elsewhere or are not significant. The date
        is relative to the Proleptic Gregorian Calendar. The day may be 0 to
        represent a year and month where the day is not significant, e.g. credit card
        expiration date. The year may be 0 to represent a month and day independent
        of year, e.g. anniversary date. Related types are google.type.TimeOfDay
        and `google.protobuf.Timestamp`.
    CancelTestMatrixResponse:
      title: CancelTestMatrixResponse
      type: object
      properties:
        testState:
          $ref: '#/components/schemas/TestState'
      description: Response containing the current state of the specified test matrix.
    TestState:
      title: TestState
      type: string
      example: TEST_STATE_UNSPECIFIED
      enum:
      - TEST_STATE_UNSPECIFIED
      - VALIDATING
      - PENDING
      - RUNNING
      - FINISHED
      - ERROR
      - UNSUPPORTED_ENVIRONMENT
      - INCOMPATIBLE_ENVIRONMENT
      - INCOMPATIBLE_ARCHITECTURE
      - CANCELLED
      - INVALID
    RoboStartingIntent:
      title: RoboStartingIntent
      type: object
      properties:
        startActivity:
          type: object
        launcherActivity:
          type: object
      description: Message for specifying the start activities to crawl
    StartActivityIntent:
      title: StartActivityIntent
      type: object
      properties:
        action:
          type: string
          description: |-
            Action name.
            Required for START_ACTIVITY.
        uri:
          type: string
          description: |-
            URI for the action.
            Optional.
        categories:
          type: array
          description: |-
            Intent categories to set on the intent.
            Optional.
          items:
            type: string
      description: A starting intent specified by an action, uri, and categories.
    Account:
      title: Account
      type: object
      properties:
        googleAuto:
          type: object
          description: An automatic google login account
      description: Identifies an account and how to log into it
    TestEnvironmentCatalog:
      title: TestEnvironmentCatalog
      type: object
      properties:
        androidDeviceCatalog:
          $ref: '#/components/schemas/AndroidDeviceCatalog'
        networkConfigurationCatalog:
          $ref: '#/components/schemas/NetworkConfigurationCatalog'
      description: A description of a test environment.
    Locale:
      title: Locale
      type: object
      properties:
        name:
          type: string
          description: |-
            A human-friendly name for this language/locale.
            Example: "English"
            @OutputOnly
        id:
          type: string
          description: |-
            The id for this locale.
            Example: "en_US"
            @OutputOnly
        tags:
          type: array
          description: |-
            Tags for this dimension.
            Examples: "default"
          items:
            type: string
        region:
          type: string
          description: |-
            A human-friendly string representing the region for this locale.
            Example: "United States"
            Not present for every locale.
            @OutputOnly
      description: A location/region designation for language.
    ObbFile:
      title: ObbFile
      type: object
      properties:
        obb:
          $ref: '#/components/schemas/FileReference'
        obbFileName:
          type: string
          description: |-
            OBB file name which must conform to the format as specified by
            Android
            e.g. [main|patch].0300110.com.example.android.obb
            which will be installed into
              <shared-storage>/Android/obb/<package-name>/
            on the device
            Required
      description: An opaque binary blob file to install on the device before the test starts
    AndroidRuntimeConfiguration:
      title: AndroidRuntimeConfiguration
      type: object
      properties:
        orientations:
          type: array
          description: |-
            The set of available orientations.
            @OutputOnly
          items:
            $ref: '#/components/schemas/Orientation'
        locales:
          type: array
          description: |-
            The set of available locales.
            @OutputOnly
          items:
            $ref: '#/components/schemas/Locale'
      description: Configuration that can be selected at the time a test is run.
    AndroidDevice:
      title: AndroidDevice
      type: object
      properties:
        orientation:
          type: string
          description: |-
            How the device is oriented during the test.
            Use the EnvironmentDiscoveryService to get supported options.
            Required
        locale:
          type: string
          description: |-
            The locale the test device used for testing.
            Use the EnvironmentDiscoveryService to get supported options.
            Required
        androidModelId:
          type: string
          description: |-
            The id of the Android device to be used.
            Use the EnvironmentDiscoveryService to get supported options.
            Required
        androidVersionId:
          type: string
          description: |-
            The id of the Android OS version to be used.
            Use the EnvironmentDiscoveryService to get supported options.
            Required
      description: A single Android device.
    NetworkConfiguration:
      title: NetworkConfiguration
      type: object
      properties:
        id:
          type: string
          description: |-
            The unique opaque id for this network traffic configuration
            @OutputOnly
        upRule:
          type: object
          description: The emulation rule applying to the upload traffic
        downRule:
          type: object
          description: The emulation rule applying to the download traffic
    ToolResultsStep:
      title: ToolResultsStep
      type: object
      properties:
        executionId:
          type: string
          description: |-
            A tool results execution ID.
            @OutputOnly
        stepId:
          type: string
          description: |-
            A tool results step ID.
            @OutputOnly
        projectId:
          type: string
          description: |-
            The cloud project that owns the tool results step.
            @OutputOnly
        historyId:
          type: string
          description: |-
            A tool results history ID.
            @OutputOnly
      description: |-
        Represents a tool results step resource.

        This has the results of a TestExecution.
    TrafficRule:
      title: TrafficRule
      type: object
      properties:
        packetLossRatio:
          type: number
          description: Packet loss ratio (0.0 - 1.0)
        burst:
          type: number
          description: Burst size in kbits
        bandwidth:
          type: number
          description: Bandwidth in kbits/second
        packetDuplicationRatio:
          type: number
          description: Packet duplication ratio (0.0 - 1.0)
        delay:
          type: string
          description: Packet delay, must be >= 0
      description: Network emulation parameters
    AndroidInstrumentationTest:
      title: AndroidInstrumentationTest
      type: object
      properties:
        testApk:
          $ref: '#/components/schemas/FileReference'
        testRunnerClass:
          type: string
          description: |-
            The InstrumentationTestRunner class.
            Optional, default is determined by examining the application's manifest.
        testPackageId:
          type: string
          description: |-
            The java package for the test to be executed.
            Optional, default is determined by examining the application's manifest.
        appPackageId:
          type: string
          description: |-
            The java package for the application under test.
            Optional, default is determined by examining the application's manifest.
        appApk:
          $ref: '#/components/schemas/FileReference'
        orchestratorOption:
          $ref: '#/components/schemas/OrchestratorOption'
        testTargets:
          type: array
          description: |-
            Each target must be fully qualified with the package name or class name,
            in one of these formats:
             - "package package_name"
             - "class package_name.class_name"
             - "class package_name.class_name#method_name"

            Optional, if empty, all targets in the module will be run.
          items:
            type: string
      description: |-
        A test of an Android application that can control an Android component
        independently of its normal lifecycle.
        Android instrumentation tests run an application APK and test APK inside the
        same process on a virtual or physical AndroidDevice.  They also specify
        a test runner class, such as com.google.GoogleTestRunner, which can vary
        on the specific instrumentation framework chosen.

        See <http://developer.android.com/tools/testing/testing_android.html> for
        more information on types of Android tests.
    OrchestratorOption:
      title: OrchestratorOption
      type: string
      example: ORCHESTRATOR_OPTION_UNSPECIFIED
      enum:
      - ORCHESTRATOR_OPTION_UNSPECIFIED
      - USE_ORCHESTRATOR
      - DO_NOT_USE_ORCHESTRATOR
    DeviceFile:
      title: DeviceFile
      type: object
      properties:
        obbFile:
          $ref: '#/components/schemas/ObbFile'
      description: A single device file description.
    ClientInfoDetail:
      title: ClientInfoDetail
      type: object
      properties:
        key:
          type: string
          description: |-
            The key of detailed client information.
            Required
        value:
          type: string
          description: |-
            The value of detailed client information.
            Required
      description: |-
        Key-value pair of detailed information about the client which invoked the
        test. For example {'Version', '1.0'}, {'Release Track', 'BETA'}
    EnvironmentVariable:
      title: EnvironmentVariable
      type: object
      properties:
        value:
          type: string
          description: Value for the environment variable
        key:
          type: string
          description: Key for the environment variable
      description: A key-value pair passed as an environment variable to the test
    Environment:
      title: Environment
      type: object
      properties:
        androidDevice:
          $ref: '#/components/schemas/AndroidDevice'
      description: The environment in which the test is run.
    GoogleCloudStorage:
      title: GoogleCloudStorage
      type: object
      properties:
        gcsPath:
          type: string
          description: |-
            The path to a directory in GCS that will
            eventually contain the results for this test.
            The requesting user must have write access on the bucket in the supplied
            path.
            Required
      description: A storage location within Google cloud storage (GCS).
    TestExecution:
      title: TestExecution
      type: object
      properties:
        matrixId:
          type: string
          description: |-
            Id of the containing TestMatrix.
            @OutputOnly
        testDetails:
          $ref: '#/components/schemas/TestDetails'
        environment:
          $ref: '#/components/schemas/Environment'
        state:
          $ref: '#/components/schemas/State'
        toolResultsStep:
          $ref: '#/components/schemas/ToolResultsStep'
        projectId:
          type: string
          description: |-
            The cloud project that owns the test execution.
            @OutputOnly
        testSpecification:
          $ref: '#/components/schemas/TestSpecification'
        id:
          type: string
          description: |-
            Unique id set by the backend.
            @OutputOnly
        timestamp:
          type: string
          description: |-
            The time this test execution was initially created.
            @OutputOnly
      description: Specifies a single test to be executed in a single environment.
    RoboDirective:
      title: RoboDirective
      type: object
      properties:
        resourceName:
          type: string
          description: |-
            The android resource name of the target UI element
            For example,
               in Java: R.string.foo
               in xml: @string/foo
            Only the “foo” part is needed.
            Reference doc:
            https://developer.android.com/guide/topics/resources/accessing-resources.html
            Required
        inputText:
          type: string
          description: |-
            The text that Robo is directed to set. If left empty, the directive will be
            treated as a CLICK on the element matching the resource_name.
            Optional
        actionType:
          $ref: '#/components/schemas/ActionType'
      description: |-
        Directs Robo to interact with a specific UI element if it is encountered
        during the crawl. Currently, Robo can perform text entry or element click.
    ActionType:
      title: ActionType
      type: string
      example: ACTION_TYPE_UNSPECIFIED
      enum:
      - ACTION_TYPE_UNSPECIFIED
      - SINGLE_CLICK
      - ENTER_TEXT
    AndroidMatrix:
      title: AndroidMatrix
      type: object
      properties:
        orientations:
          type: array
          description: |-
            The set of orientations to test with.
            Use the EnvironmentDiscoveryService to get supported options.
            Required
          items:
            type: string
        androidVersionIds:
          type: array
          description: |-
            The ids of the set of Android OS version to be used.
            Use the EnvironmentDiscoveryService to get supported options.
            Required
          items:
            type: string
        locales:
          type: array
          description: |-
            The set of locales the test device will enable for testing.
            Use the EnvironmentDiscoveryService to get supported options.
            Required
          items:
            type: string
        androidModelIds:
          type: array
          description: |-
            The ids of the set of Android device to be used.
            Use the EnvironmentDiscoveryService to get supported options.
            Required
          items:
            type: string
      description: |-
        A set of Android device configuration permutations is defined by the
        the cross-product of the given axes.  Internally, the given AndroidMatrix
        will be expanded into a set of AndroidDevices.

        Only supported permutations will be instantiated.  Invalid permutations
        (e.g., incompatible models/versions) are ignored.
    AndroidModel:
      title: AndroidModel
      type: object
      properties:
        supportedAbis:
          type: array
          description: |-
            The list of supported ABIs for this device.
            This corresponds to either android.os.Build.SUPPORTED_ABIS (for API level
            21 and above) or android.os.Build.CPU_ABI/CPU_ABI2.
            The most preferred ABI is the first element in the list.

            Elements are optionally prefixed by "version_id:" (where version_id is
            the id of an AndroidVersion), denoting an ABI that is supported only on
            a particular version.
            @OutputOnly
          items:
            type: string
        name:
          type: string
          description: |-
            The human-readable marketing name for this device model.
            Examples: "Nexus 5", "Galaxy S5"
            @OutputOnly
        id:
          type: string
          description: |-
            The unique opaque id for this model.
            Use this for invoking the TestExecutionService.
            @OutputOnly
        tags:
          type: array
          description: |-
            Tags for this dimension.
            Examples: "default", "preview", "deprecated"
          items:
            type: string
        manufacturer:
          type: string
          description: |-
            The manufacturer of this device.
            @OutputOnly
        brand:
          type: string
          description: |-
            The company that this device is branded with.
            Example: "Google", "Samsung"
            @OutputOnly
        screenX:
          type: integer
          description: |-
            Screen size in the horizontal (X) dimension measured in pixels.
            @OutputOnly
          format: int32
        codename:
          type: string
          description: |-
            The name of the industrial design.
            This corresponds to android.os.Build.DEVICE
            @OutputOnly
        screenY:
          type: integer
          description: |-
            Screen size in the vertical (Y) dimension measured in pixels.
            @OutputOnly
          format: int32
        form:
          $ref: '#/components/schemas/Form'
        screenDensity:
          type: integer
          description: |-
            Screen density in DPI.
            This corresponds to ro.sf.lcd_density
            @OutputOnly
          format: int32
        supportedVersionIds:
          type: array
          description: |-
            The set of Android versions this device supports.
            @OutputOnly
          items:
            type: string
      description: A description of an Android device tests may be run on.
    Form:
      title: Form
      type: string
      example: DEVICE_FORM_UNSPECIFIED
      enum:
      - DEVICE_FORM_UNSPECIFIED
      - VIRTUAL
      - PHYSICAL
