<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
 <key>BuildMachineOSBuild</key>
 <string>20A2371</string>
 <key>CFBundleAllowMixedLocalizations</key>
 <true/>
 <key>CFBundleDevelopmentRegion</key>
 <string>en</string>
 <key>CFBundleExecutable</key>
 <string>SampleXCUITests-Runner</string>
 <key>CFBundleIdentifier</key>
 <string>com.bsstack.SampleXCUITests.xctrunner</string>
 <key>CFBundleInfoDictionaryVersion</key>
 <string>6.0</string>
 <key>CFBundleName</key>
 <string>SampleXCUITests-Runner</string>
 <key>CFBundlePackageType</key>
 <string>APPL</string>
 <key>CFBundleShortVersionString</key>
 <string>1.0</string>
 <key>CFBundleSignature</key>
 <string>????</string>
 <key>CFBundleSupportedPlatforms</key>
 <array>
  <string>iPhoneOS</string>
 </array>
 <key>CFBundleVersion</key>
 <string>1</string>
 <key>DTCompiler</key>
 <string>com.apple.compilers.llvm.clang.1_0</string>
 <key>DTPlatformBuild</key>
 <string>18B58</string>
 <key>DTPlatformName</key>
 <string>iphoneos</string>
 <key>DTPlatformVersion</key>
 <string>14.2</string>
 <key>DTSDKBuild</key>
 <string>18B58</string>
 <key>DTSDKName</key>
 <string>iphoneos14.2.internal</string>
 <key>DTXcode</key>
 <string>1240</string>
 <key>DTXcodeBuild</key>
 <string>12D2</string>
 <key>LSRequiresIPhoneOS</key>
 <true/>
 <key>MinimumOSVersion</key>
 <string>9.0</string>
 <key>NFCReaderUsageDescription</key>
 <string>Access is necessary for automated testing.</string>
 <key>NSAppTransportSecurity</key>
 <dict>
  <key>NSAllowsArbitraryLoads</key>
  <true/>
 </dict>
 <key>NSAppleMusicUsageDescription</key>
 <string>Access is necessary for automated testing.</string>
 <key>NSBluetoothAlwaysUsageDescription</key>
 <string>Access is necessary for automated testing.</string>
 <key>NSCalendarsUsageDescription</key>
 <string>Access is necessary for automated testing.</string>
 <key>NSCameraUsageDescription</key>
 <string>Access is necessary for automated testing.</string>
 <key>NSContactsUsageDescription</key>
 <string>Access is necessary for automated testing.</string>
 <key>NSFaceIDUsageDescription</key>
 <string>Access is necessary for automated testing.</string>
 <key>NSHealthClinicalHealthRecordsShareUsageDescription</key>
 <string>Access is necessary for automated testing.</string>
 <key>NSHealthShareUsageDescription</key>
 <string>Access is necessary for automated testing.</string>
 <key>NSHealthUpdateUsageDescription</key>
 <string>Access is necessary for automated testing.</string>
 <key>NSHomeKitUsageDescription</key>
 <string>Access is necessary for automated testing.</string>
 <key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
 <string>Access is necessary for automated testing.</string>
 <key>NSLocationUsageDescription</key>
 <string>Access is necessary for automated testing.</string>
 <key>NSLocationWhenInUseUsageDescription</key>
 <string>Access is necessary for automated testing.</string>
 <key>NSMicrophoneUsageDescription</key>
 <string>Access is necessary for automated testing.</string>
 <key>NSMotionUsageDescription</key>
 <string>Access is necessary for automated testing.</string>
 <key>NSPhotoLibraryAddUsageDescription</key>
 <string>Access is necessary for automated testing.</string>
 <key>NSPhotoLibraryUsageDescription</key>
 <string>Access is necessary for automated testing.</string>
 <key>NSRemindersUsageDescription</key>
 <string>Access is necessary for automated testing.</string>
 <key>NSSiriUsageDescription</key>
 <string>Access is necessary for automated testing.</string>
 <key>NSSpeechRecognitionUsageDescription</key>
 <string>Access is necessary for automated testing.</string>
 <key>UIBackgroundModes</key>
 <array>
  <string>continuous</string>
 </array>
 <key>UIDeviceFamily</key>
 <array>
  <integer>1</integer>
  <integer>2</integer>
 </array>
 <key>UIRequiredDeviceCapabilities</key>
 <array>
  <string>armv7</string>
 </array>
 <key>UIRequiresFullScreen</key>
 <true/>
 <key>UISupportedInterfaceOrientations</key>
 <array>
  <string>UIInterfaceOrientationPortrait</string>
  <string>UIInterfaceOrientationLandscapeLeft</string>
  <string>UIInterfaceOrientationLandscapeRight</string>
 </array>
 <key>UISupportedInterfaceOrientations~ipad</key>
 <array>
  <string>UIInterfaceOrientationPortrait</string>
  <string>UIInterfaceOrientationPortraitUpsideDown</string>
  <string>UIInterfaceOrientationLandscapeLeft</string>
  <string>UIInterfaceOrientationLandscapeRight</string>
 </array>
</dict>
</plist>
