{"openapi":"3.0.0","info":{"title":"Google Cloud Testing API","description":"Allows developers to run automated tests for their mobile applications on Google infrastructure.","version":"v1"},"servers":[{"url":"https://testing.googleapis.com/","variables":{}}],"paths":{"/v1/testEnvironmentCatalog/{environmentType}":{"get":{"tags":["testEnvironmentCatalog"],"summary":"GetV1TestEnvironmentCatalog","description":"Get the catalog of supported test environments.\n\nMay return any of the following canonical error codes:\n\n- INVALID_ARGUMENT - if the request is malformed\n- NOT_FOUND - if the environment type does not exist\n- INTERNAL - if an internal error occurred","operationId":"GetV1TestEnvironmentCatalog","parameters":[{"name":"environmentType","in":"path","description":"The type of environment that should be listed.\nRequired (Acceptable values are: \"ENVIRONMENT_TYPE_UNSPECIFIED\", \"ANDROID\", \"NETWORK_CONFIGURATION\")","required":true,"style":"simple","explode":false,"schema":{"type":"string"}},{"name":"upload_protocol","in":"query","description":"Upload protocol for media (e.g. \"raw\", \"multipart\").","style":"form","explode":true,"schema":{"type":"string"}},{"name":"prettyPrint","in":"query","description":"Returns response with indentations and line breaks.","style":"form","explode":true,"schema":{"type":"boolean","default":true,"example":true}},{"name":"uploadType","in":"query","description":"Legacy upload protocol for media (e.g. \"media\", \"multipart\").","style":"form","explode":true,"schema":{"type":"string"}},{"name":"fields","in":"query","description":"Selector specifying which fields to include in a partial response.","style":"form","explode":true,"schema":{"type":"string"}},{"name":"$.xgafv","in":"query","description":"V1 error format. (Acceptable values are: \"1\", \"2\")","style":"form","explode":true,"schema":{"type":"string"}},{"name":"callback","in":"query","description":"JSONP","style":"form","explode":true,"schema":{"type":"string"}},{"name":"alt","in":"query","description":"Data format for response. (Acceptable values are: \"json\", \"media\", \"proto\")","style":"form","explode":true,"schema":{"type":"string","default":"json","example":"json"}},{"name":"access_token","in":"query","description":"OAuth access token.","style":"form","explode":true,"schema":{"type":"string"}},{"name":"key","in":"query","description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","style":"form","explode":true,"schema":{"type":"string"}},{"name":"quotaUser","in":"query","description":"Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.","style":"form","explode":true,"schema":{"type":"string"}},{"name":"pp","in":"query","description":"Pretty-print response.","style":"form","explode":true,"schema":{"type":"boolean","default":true,"example":true}},{"name":"oauth_token","in":"query","description":"OAuth 2.0 token for the current user.","style":"form","explode":true,"schema":{"type":"string"}},{"name":"bearer_token","in":"query","description":"OAuth bearer token.","style":"form","explode":true,"schema":{"type":"string"}},{"name":"projectId","in":"query","description":"For authorization, the cloud project requesting the TestEnvironmentCatalog.\nOptional","style":"form","explode":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TestEnvironmentCatalog"}}}}},"deprecated":false,"x-operation-settings":{"CollectParameters":false,"AllowDynamicQueryParameters":false,"AllowDynamicFormParameters":false,"IsMultiContentStreaming":false}}},"/v1/projects/{projectId}/testMatrices/{testMatrixId}:cancel":{"post":{"tags":["testMatrices"],"summary":"CancelV1ProjectsTestMatricesCancelByProjectId","description":"Cancels unfinished test executions in a test matrix.\nThis call returns immediately and cancellation proceeds asychronously.\nIf the matrix is already final, this operation will have no effect.\n\nMay return any of the following canonical error codes:\n\n- PERMISSION_DENIED - if the user is not authorized to read project\n- INVALID_ARGUMENT - if the request is malformed\n- NOT_FOUND - if the Test Matrix does not exist","operationId":"CancelV1ProjectsTestMatricesCancelByProjectId","parameters":[{"name":"projectId","in":"path","description":"Cloud project that owns the test.","required":true,"style":"simple","explode":false,"schema":{"type":"string"}},{"name":"testMatrixId","in":"path","description":"Test matrix that will be canceled.","required":true,"style":"simple","explode":false,"schema":{"type":"string"}},{"name":"upload_protocol","in":"query","description":"Upload protocol for media (e.g. \"raw\", \"multipart\").","style":"form","explode":true,"schema":{"type":"string"}},{"name":"prettyPrint","in":"query","description":"Returns response with indentations and line breaks.","style":"form","explode":true,"schema":{"type":"boolean","default":true,"example":true}},{"name":"uploadType","in":"query","description":"Legacy upload protocol for media (e.g. \"media\", \"multipart\").","style":"form","explode":true,"schema":{"type":"string"}},{"name":"fields","in":"query","description":"Selector specifying which fields to include in a partial response.","style":"form","explode":true,"schema":{"type":"string"}},{"name":"$.xgafv","in":"query","description":"V1 error format. (Acceptable values are: \"1\", \"2\")","style":"form","explode":true,"schema":{"type":"string"}},{"name":"callback","in":"query","description":"JSONP","style":"form","explode":true,"schema":{"type":"string"}},{"name":"alt","in":"query","description":"Data format for response. (Acceptable values are: \"json\", \"media\", \"proto\")","style":"form","explode":true,"schema":{"type":"string","default":"json","example":"json"}},{"name":"access_token","in":"query","description":"OAuth access token.","style":"form","explode":true,"schema":{"type":"string"}},{"name":"key","in":"query","description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","style":"form","explode":true,"schema":{"type":"string"}},{"name":"quotaUser","in":"query","description":"Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.","style":"form","explode":true,"schema":{"type":"string"}},{"name":"pp","in":"query","description":"Pretty-print response.","style":"form","explode":true,"schema":{"type":"boolean","default":true,"example":true}},{"name":"oauth_token","in":"query","description":"OAuth 2.0 token for the current user.","style":"form","explode":true,"schema":{"type":"string"}},{"name":"bearer_token","in":"query","description":"OAuth bearer token.","style":"form","explode":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CancelTestMatrixResponse"}}}}},"deprecated":false,"x-operation-settings":{"CollectParameters":false,"AllowDynamicQueryParameters":false,"AllowDynamicFormParameters":false,"IsMultiContentStreaming":false}}},"/v1/projects/{projectId}/testMatrices/{testMatrixId}":{"get":{"tags":["testMatrices"],"summary":"GetV1ProjectsTestMatricesByProjectId","description":"Check the status of a test matrix.\n\nMay return any of the following canonical error codes:\n\n- PERMISSION_DENIED - if the user is not authorized to read project\n- INVALID_ARGUMENT - if the request is malformed\n- NOT_FOUND - if the Test Matrix does not exist","operationId":"GetV1ProjectsTestMatricesByProjectId","parameters":[{"name":"projectId","in":"path","description":"Cloud project that owns the test matrix.","required":true,"style":"simple","explode":false,"schema":{"type":"string"}},{"name":"testMatrixId","in":"path","description":"Unique test matrix id which was assigned by the service.","required":true,"style":"simple","explode":false,"schema":{"type":"string"}},{"name":"upload_protocol","in":"query","description":"Upload protocol for media (e.g. \"raw\", \"multipart\").","style":"form","explode":true,"schema":{"type":"string"}},{"name":"prettyPrint","in":"query","description":"Returns response with indentations and line breaks.","style":"form","explode":true,"schema":{"type":"boolean","default":true,"example":true}},{"name":"uploadType","in":"query","description":"Legacy upload protocol for media (e.g. \"media\", \"multipart\").","style":"form","explode":true,"schema":{"type":"string"}},{"name":"fields","in":"query","description":"Selector specifying which fields to include in a partial response.","style":"form","explode":true,"schema":{"type":"string"}},{"name":"$.xgafv","in":"query","description":"V1 error format. (Acceptable values are: \"1\", \"2\")","style":"form","explode":true,"schema":{"type":"string"}},{"name":"callback","in":"query","description":"JSONP","style":"form","explode":true,"schema":{"type":"string"}},{"name":"alt","in":"query","description":"Data format for response. (Acceptable values are: \"json\", \"media\", \"proto\")","style":"form","explode":true,"schema":{"type":"string","default":"json","example":"json"}},{"name":"access_token","in":"query","description":"OAuth access token.","style":"form","explode":true,"schema":{"type":"string"}},{"name":"key","in":"query","description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","style":"form","explode":true,"schema":{"type":"string"}},{"name":"quotaUser","in":"query","description":"Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.","style":"form","explode":true,"schema":{"type":"string"}},{"name":"pp","in":"query","description":"Pretty-print response.","style":"form","explode":true,"schema":{"type":"boolean","default":true,"example":true}},{"name":"oauth_token","in":"query","description":"OAuth 2.0 token for the current user.","style":"form","explode":true,"schema":{"type":"string"}},{"name":"bearer_token","in":"query","description":"OAuth bearer token.","style":"form","explode":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TestMatrix"}}}}},"deprecated":false,"x-operation-settings":{"CollectParameters":false,"AllowDynamicQueryParameters":false,"AllowDynamicFormParameters":false,"IsMultiContentStreaming":false}}},"/v1/projects/{projectId}/testMatrices":{"post":{"tags":["testMatrices"],"summary":"CreateV1ProjectsTestMatricesByProjectId","description":"Request to run a matrix of tests according to the given specifications.\nUnsupported environments will be returned in the state UNSUPPORTED.\nMatrices are limited to at most 200 supported executions.\n\nMay return any of the following canonical error codes:\n\n- PERMISSION_DENIED - if the user is not authorized to write to project\n- INVALID_ARGUMENT - if the request is malformed or if the matrix expands\n                     to more than 200 supported executions","operationId":"CreateV1ProjectsTestMatricesByProjectId","parameters":[{"name":"projectId","in":"path","description":"The GCE project under which this job will run.","required":true,"style":"simple","explode":false,"schema":{"type":"string"}},{"name":"upload_protocol","in":"query","description":"Upload protocol for media (e.g. \"raw\", \"multipart\").","style":"form","explode":true,"schema":{"type":"string"}},{"name":"prettyPrint","in":"query","description":"Returns response with indentations and line breaks.","style":"form","explode":true,"schema":{"type":"boolean","default":true,"example":true}},{"name":"uploadType","in":"query","description":"Legacy upload protocol for media (e.g. \"media\", \"multipart\").","style":"form","explode":true,"schema":{"type":"string"}},{"name":"fields","in":"query","description":"Selector specifying which fields to include in a partial response.","style":"form","explode":true,"schema":{"type":"string"}},{"name":"$.xgafv","in":"query","description":"V1 error format. (Acceptable values are: \"1\", \"2\")","style":"form","explode":true,"schema":{"type":"string"}},{"name":"callback","in":"query","description":"JSONP","style":"form","explode":true,"schema":{"type":"string"}},{"name":"alt","in":"query","description":"Data format for response. (Acceptable values are: \"json\", \"media\", \"proto\")","style":"form","explode":true,"schema":{"type":"string","default":"json","example":"json"}},{"name":"access_token","in":"query","description":"OAuth access token.","style":"form","explode":true,"schema":{"type":"string"}},{"name":"key","in":"query","description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","style":"form","explode":true,"schema":{"type":"string"}},{"name":"quotaUser","in":"query","description":"Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.","style":"form","explode":true,"schema":{"type":"string"}},{"name":"pp","in":"query","description":"Pretty-print response.","style":"form","explode":true,"schema":{"type":"boolean","default":true,"example":true}},{"name":"oauth_token","in":"query","description":"OAuth 2.0 token for the current user.","style":"form","explode":true,"schema":{"type":"string"}},{"name":"bearer_token","in":"query","description":"OAuth bearer token.","style":"form","explode":true,"schema":{"type":"string"}},{"name":"requestId","in":"query","description":"A string id used to detect duplicated requests.\nIds are automatically scoped to a project, so\nusers should ensure the ID is unique per-project.\nA UUID is recommended.\n\nOptional, but strongly recommended.","style":"form","explode":true,"schema":{"type":"string"}}],"requestBody":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TestMatrix"}}},"required":true},"responses":{"200":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TestMatrix"}}}}},"deprecated":false,"x-operation-settings":{"CollectParameters":false,"AllowDynamicQueryParameters":false,"AllowDynamicFormParameters":false,"IsMultiContentStreaming":false}}}},"components":{"schemas":{"TestSetup":{"title":"TestSetup","type":"object","properties":{"networkProfile":{"type":"string","description":"The network traffic profile used for running the test.\nOptional"},"environmentVariables":{"type":"array","items":{"type":"object"},"description":"Environment variables to set for the test (only applicable for\ninstrumentation tests)."},"account":{"type":"object","description":"The device will be logged in on this account for the duration of the test.\nOptional"},"directoriesToPull":{"type":"array","items":{"type":"string"},"description":"List of directories on the device to upload to GCS at the end of the test;\nthey must be absolute paths under /sdcard or /data/local/tmp.\nPath names are restricted to characters a-z A-Z 0-9 _ - . + and /\n\nNote: The paths /sdcard and /data will be made available and treated as\nimplicit path substitutions. E.g. if /sdcard on a particular device does\nnot map to external storage, the system will replace it with the external\nstorage path prefix for that device.\n\nOptional"},"filesToPush":{"type":"array","items":{"type":"object"},"description":"List of files to push to the device before starting the test.\n\nOptional"}},"description":"A description of how to set up the device prior to running the test"},"TestSpecification":{"title":"TestSpecification","type":"object","properties":{"testTimeout":{"type":"string","description":"Max time a test execution is allowed to run before it is\nautomatically cancelled.\nOptional, default is 5 min."},"autoGoogleLogin":{"type":"boolean","description":"Enables automatic Google account login.\nIf set, the service will automatically generate a Google test account and\nadd it to the device, before executing the test. Note that test accounts\nmight be reused.\nMany applications show their full set of functionalities when an account is\npresent on the device. Logging into the device with these generated\naccounts allows testing more functionalities.\nDefault is false.\nOptional"},"testSetup":{"description":"Test setup requirements e.g. files to install, bootstrap scripts\nOptional","$ref":"#/components/schemas/TestSetup"},"androidRoboTest":{"type":"object","description":"An Android robo test."},"androidTestLoop":{"type":"object","description":"An Android Application with a Test Loop"},"androidInstrumentationTest":{"type":"object","description":"An Android instrumentation test."},"disablePerformanceMetrics":{"type":"boolean","description":"Disables performance metrics recording; may reduce test latency."},"disableVideoRecording":{"type":"boolean","description":"Disables video recording; may reduce test latency."}},"description":"A description of how to run the test."},"ResultStorage":{"title":"ResultStorage","type":"object","properties":{"googleCloudStorage":{"type":"object","description":"Required."},"toolResultsExecution":{"type":"object","description":"The tool results execution that results are written to.\n@OutputOnly"},"toolResultsHistory":{"type":"object","description":"The tool results history that contains the tool results execution that\nresults are written to.\n\nOptional, if not provided the service will choose an appropriate value."}},"description":"Locations where the results of running the test are stored."},"TestMatrix":{"title":"TestMatrix","type":"object","properties":{"timestamp":{"type":"string","description":"The time this test matrix was initially created.\n@OutputOnly"},"environmentMatrix":{"type":"object","description":"How the host machine(s) are configured.\nRequired"},"testMatrixId":{"type":"string","description":"Unique id set by the service.\n@OutputOnly"},"resultStorage":{"description":"Where the results for the matrix are written.\nRequired","$ref":"#/components/schemas/ResultStorage"},"invalidMatrixDetails":{"description":"Describes why the matrix is considered invalid.\nOnly useful for matrices in the INVALID state.\n@OutputOnly","$ref":"#/components/schemas/InvalidMatrixDetails"},"state":{"description":"Indicates the current progress of the test matrix (e.g., FINISHED)\n@OutputOnly","$ref":"#/components/schemas/State"},"projectId":{"type":"string","description":"The cloud project that owns the test matrix.\n@OutputOnly"},"testSpecification":{"description":"How to run the test.\nRequired","$ref":"#/components/schemas/TestSpecification"},"clientInfo":{"type":"object","description":"Information about the client which invoked the test.\nOptional"},"testExecutions":{"type":"array","items":{"type":"object"},"description":"The list of test executions that the service creates for this matrix.\n@OutputOnly"}},"description":"A group of one or more TestExecutions, built by taking a\nproduct of values over a pre-defined set of axes."},"InvalidMatrixDetails":{"title":"InvalidMatrixDetails","enum":["INVALID_MATRIX_DETAILS_UNSPECIFIED","DETAILS_UNAVAILABLE","MALFORMED_APK","MALFORMED_TEST_APK","NO_MANIFEST","NO_PACKAGE_NAME","TEST_SAME_AS_APP","NO_INSTRUMENTATION","NO_SIGNATURE","INSTRUMENTATION_ORCHESTRATOR_INCOMPATIBLE","NO_TEST_RUNNER_CLASS","NO_LAUNCHER_ACTIVITY","FORBIDDEN_PERMISSIONS","INVALID_ROBO_DIRECTIVES","TEST_LOOP_INTENT_FILTER_NOT_FOUND","SCENARIO_LABEL_NOT_DECLARED","SCENARIO_LABEL_MALFORMED","SCENARIO_NOT_DECLARED","DEVICE_ADMIN_RECEIVER","TEST_ONLY_APK"],"type":"string","example":"INVALID_MATRIX_DETAILS_UNSPECIFIED"},"State":{"title":"State","enum":["TEST_STATE_UNSPECIFIED","VALIDATING","PENDING","RUNNING","FINISHED","ERROR","UNSUPPORTED_ENVIRONMENT","INCOMPATIBLE_ENVIRONMENT","INCOMPATIBLE_ARCHITECTURE","CANCELLED","INVALID"],"type":"string","example":"TEST_STATE_UNSPECIFIED"},"AndroidVersion":{"title":"AndroidVersion","type":"object","properties":{"codeName":{"type":"string","description":"The code name for this Android version.\nExamples: \"JellyBean\", \"KitKat\"\n@OutputOnly"},"apiLevel":{"type":"integer","description":"The API level for this Android version.\nExamples: 18, 19\n@OutputOnly","format":"int32"},"distribution":{"type":"object","description":"Market share for this version.\n@OutputOnly"},"tags":{"type":"array","items":{"type":"string"},"description":"Tags for this dimension.\nExamples: \"default\", \"preview\", \"deprecated\""},"id":{"type":"string","description":"An opaque id for this Android version.\nUse this id to invoke the TestExecutionService.\n@OutputOnly"},"releaseDate":{"type":"object","description":"The date this Android version became available in the market.\n@OutputOnly"},"versionString":{"type":"string","description":"A string representing this version of the Android OS.\nExamples: \"4.3\", \"4.4\"\n@OutputOnly"}},"description":"A version of the Android OS"},"FileReference":{"title":"FileReference","type":"object","properties":{"gcsPath":{"type":"string","description":"A path to a file in Google Cloud Storage.\nExample: gs://build-app-1414623860166/app-debug-unaligned.apk"}},"description":"A reference to a file, used for user inputs."},"TestDetails":{"title":"TestDetails","type":"object","properties":{"errorMessage":{"type":"string","description":"If the TestState is ERROR, then this string will contain human-readable\ndetails about the error.\n@OutputOnly"},"progressMessages":{"type":"array","items":{"type":"string"},"description":"Human-readable, detailed descriptions of the test's progress.\nFor example: \"Provisioning a device\", \"Starting Test\".\n\nDuring the course of execution new data may be appended\nto the end of progress_messages.\n@OutputOnly"}},"description":"Additional details about the progress of the running test."},"ToolResultsExecution":{"title":"ToolResultsExecution","type":"object","properties":{"executionId":{"type":"string","description":"A tool results execution ID.\n@OutputOnly"},"projectId":{"type":"string","description":"The cloud project that owns the tool results execution.\n@OutputOnly"},"historyId":{"type":"string","description":"A tool results history ID.\n@OutputOnly"}},"description":"Represents a tool results execution resource.\n\nThis has the results of a TestMatrix."},"ToolResultsHistory":{"title":"ToolResultsHistory","type":"object","properties":{"projectId":{"type":"string","description":"The cloud project that owns the tool results history.\nRequired"},"historyId":{"type":"string","description":"A tool results history ID.\nRequired"}},"description":"Represents a tool results history resource."},"AndroidRoboTest":{"title":"AndroidRoboTest","type":"object","properties":{"maxDepth":{"type":"integer","description":"The max depth of the traversal stack Robo can explore. Needs to be at least\n2 to make Robo explore the app beyond the first activity.\nDefault is 50.\nOptional","format":"int32"},"appApk":{"description":"The APK for the application under test.\nRequired","$ref":"#/components/schemas/FileReference"},"appPackageId":{"type":"string","description":"The java package for the application under test.\nOptional, default is determined by examining the application's manifest."},"startingIntents":{"type":"array","items":{"type":"object"},"description":"The intents used to launch the app for the crawl.\nIf none are provided, then the main launcher activity is launched.\nIf some are provided, then only those provided are launched (the main\nlauncher activity must be provided explicitly)."},"maxSteps":{"type":"integer","description":"The max number of steps Robo can execute.\nDefault is no limit.\nOptional","format":"int32"},"appInitialActivity":{"type":"string","description":"The initial activity that should be used to start the app.\nOptional"},"roboDirectives":{"type":"array","items":{"type":"object"},"description":"A set of directives Robo should apply during the crawl.\nThis allows users to customize the crawl. For example, the username and\npassword for a test account can be provided.\nOptional"}},"description":"A test of an android application that explores the application on a virtual\nor physical Android Device, finding culprits and crashes as it goes."},"Distribution":{"title":"Distribution","type":"object","properties":{"marketShare":{"type":"number","description":"The estimated fraction (0-1) of the total market with this configuration.\n@OutputOnly"},"measurementTime":{"type":"string","description":"The time this distribution was measured.\n@OutputOnly"}},"description":"Data about the relative number of devices running a\ngiven configuration of the Android platform."},"Orientation":{"title":"Orientation","type":"object","properties":{"id":{"type":"string","description":"The id for this orientation.\nExample: \"portrait\"\n@OutputOnly"},"tags":{"type":"array","items":{"type":"string"},"description":"Tags for this dimension.\nExamples: \"default\""},"name":{"type":"string","description":"A human-friendly name for this orientation.\nExample: \"portrait\"\n@OutputOnly"}},"description":"Screen orientation of the device."},"AndroidTestLoop":{"title":"AndroidTestLoop","type":"object","properties":{"scenarios":{"type":"array","items":{"type":"integer","format":"int32"},"description":"The list of scenarios that should be run during the test.\nOptional, default is all test loops, derived from the application's\nmanifest."},"scenarioLabels":{"type":"array","items":{"type":"string"},"description":"The list of scenario labels that should be run during the test.\nThe scenario labels should map to labels defined in the application's\nmanifest. For example, player_experience and\ncom.google.test.loops.player_experience add all of the loops labeled in the\nmanifest with the com.google.test.loops.player_experience name to the\nexecution.\nOptional. Scenarios can also be specified in the scenarios field."},"appApk":{"description":"The APK for the application under test.\nRequired","$ref":"#/components/schemas/FileReference"},"appPackageId":{"type":"string","description":"The java package for the application under test.\nOptional, default is determined by examining the application's manifest."}},"description":"A test of an Android Application with a Test Loop.\nThe intent <intent-name> will be implicitly added, since Games is the only\nuser of this api, for the time being."},"NetworkConfigurationCatalog":{"title":"NetworkConfigurationCatalog","type":"object","properties":{"configurations":{"type":"array","items":{"type":"object"},"description":""}}},"AndroidDeviceCatalog":{"title":"AndroidDeviceCatalog","type":"object","properties":{"models":{"type":"array","items":{"type":"object"},"description":"The set of supported Android device models.\n@OutputOnly"},"versions":{"type":"array","items":{"$ref":"#/components/schemas/AndroidVersion"},"description":"The set of supported Android OS versions.\n@OutputOnly"},"runtimeConfiguration":{"type":"object","description":"The set of supported runtime configurations.\n@OutputOnly"}},"description":"The currently supported Android devices."},"AndroidDeviceList":{"title":"AndroidDeviceList","type":"object","properties":{"androidDevices":{"type":"array","items":{"type":"object"},"description":"A list of Android devices\nRequired"}},"description":"A list of Android device configurations in which the test is to be executed."},"ClientInfo":{"title":"ClientInfo","type":"object","properties":{"clientInfoDetails":{"type":"array","items":{"type":"object"},"description":"The list of detailed information about client."},"name":{"type":"string","description":"Client name, such as gcloud.\nRequired"}},"description":"Information about the client which invoked the test."},"EnvironmentMatrix":{"title":"EnvironmentMatrix","type":"object","properties":{"androidDeviceList":{"description":"A list of Android devices; the test will be run only on the specified\ndevices.","$ref":"#/components/schemas/AndroidDeviceList"},"androidMatrix":{"type":"object","description":"A matrix of Android devices."}},"description":"The matrix of environments in which the test is to be executed."},"Date20":{"title":"Date20","type":"object","properties":{"year":{"type":"integer","description":"Year of date. Must be from 1 to 9999, or 0 if specifying a date without\na year.","format":"int32"},"day":{"type":"integer","description":"Day of month. Must be from 1 to 31 and valid for the year and month, or 0\nif specifying a year/month where the day is not significant.","format":"int32"},"month":{"type":"integer","description":"Month of year. Must be from 1 to 12.","format":"int32"}},"description":"Represents a whole calendar date, e.g. date of birth. The time of day and\ntime zone are either specified elsewhere or are not significant. The date\nis relative to the Proleptic Gregorian Calendar. The day may be 0 to\nrepresent a year and month where the day is not significant, e.g. credit card\nexpiration date. The year may be 0 to represent a month and day independent\nof year, e.g. anniversary date. Related types are google.type.TimeOfDay\nand `google.protobuf.Timestamp`."},"CancelTestMatrixResponse":{"title":"CancelTestMatrixResponse","type":"object","properties":{"testState":{"description":"The current rolled-up state of the test matrix.\nIf this state is already final, then the cancelation request will\nhave no effect.","$ref":"#/components/schemas/TestState"}},"description":"Response containing the current state of the specified test matrix."},"TestState":{"title":"TestState","enum":["TEST_STATE_UNSPECIFIED","VALIDATING","PENDING","RUNNING","FINISHED","ERROR","UNSUPPORTED_ENVIRONMENT","INCOMPATIBLE_ENVIRONMENT","INCOMPATIBLE_ARCHITECTURE","CANCELLED","INVALID"],"type":"string","example":"TEST_STATE_UNSPECIFIED"},"RoboStartingIntent":{"title":"RoboStartingIntent","type":"object","properties":{"startActivity":{"type":"object"},"launcherActivity":{"type":"object"}},"description":"Message for specifying the start activities to crawl"},"StartActivityIntent":{"title":"StartActivityIntent","type":"object","properties":{"action":{"type":"string","description":"Action name.\nRequired for START_ACTIVITY."},"uri":{"type":"string","description":"URI for the action.\nOptional."},"categories":{"type":"array","items":{"type":"string"},"description":"Intent categories to set on the intent.\nOptional."}},"description":"A starting intent specified by an action, uri, and categories."},"Account":{"title":"Account","type":"object","properties":{"googleAuto":{"type":"object","description":"An automatic google login account"}},"description":"Identifies an account and how to log into it"},"TestEnvironmentCatalog":{"title":"TestEnvironmentCatalog","type":"object","properties":{"androidDeviceCatalog":{"description":"Android devices suitable for running Android Instrumentation Tests.","$ref":"#/components/schemas/AndroidDeviceCatalog"},"networkConfigurationCatalog":{"description":"Supported network configurations","$ref":"#/components/schemas/NetworkConfigurationCatalog"}},"description":"A description of a test environment."},"Locale":{"title":"Locale","type":"object","properties":{"name":{"type":"string","description":"A human-friendly name for this language/locale.\nExample: \"English\"\n@OutputOnly"},"id":{"type":"string","description":"The id for this locale.\nExample: \"en_US\"\n@OutputOnly"},"tags":{"type":"array","items":{"type":"string"},"description":"Tags for this dimension.\nExamples: \"default\""},"region":{"type":"string","description":"A human-friendly string representing the region for this locale.\nExample: \"United States\"\nNot present for every locale.\n@OutputOnly"}},"description":"A location/region designation for language."},"ObbFile":{"title":"ObbFile","type":"object","properties":{"obb":{"description":"Opaque Binary Blob (OBB) file(s) to install on the device\nRequired","$ref":"#/components/schemas/FileReference"},"obbFileName":{"type":"string","description":"OBB file name which must conform to the format as specified by\nAndroid\ne.g. [main|patch].0300110.com.example.android.obb\nwhich will be installed into\n  <shared-storage>/Android/obb/<package-name>/\non the device\nRequired"}},"description":"An opaque binary blob file to install on the device before the test starts"},"AndroidRuntimeConfiguration":{"title":"AndroidRuntimeConfiguration","type":"object","properties":{"orientations":{"type":"array","items":{"$ref":"#/components/schemas/Orientation"},"description":"The set of available orientations.\n@OutputOnly"},"locales":{"type":"array","items":{"$ref":"#/components/schemas/Locale"},"description":"The set of available locales.\n@OutputOnly"}},"description":"Configuration that can be selected at the time a test is run."},"AndroidDevice":{"title":"AndroidDevice","type":"object","properties":{"orientation":{"type":"string","description":"How the device is oriented during the test.\nUse the EnvironmentDiscoveryService to get supported options.\nRequired"},"locale":{"type":"string","description":"The locale the test device used for testing.\nUse the EnvironmentDiscoveryService to get supported options.\nRequired"},"androidModelId":{"type":"string","description":"The id of the Android device to be used.\nUse the EnvironmentDiscoveryService to get supported options.\nRequired"},"androidVersionId":{"type":"string","description":"The id of the Android OS version to be used.\nUse the EnvironmentDiscoveryService to get supported options.\nRequired"}},"description":"A single Android device."},"NetworkConfiguration":{"title":"NetworkConfiguration","type":"object","properties":{"id":{"type":"string","description":"The unique opaque id for this network traffic configuration\n@OutputOnly"},"upRule":{"type":"object","description":"The emulation rule applying to the upload traffic"},"downRule":{"type":"object","description":"The emulation rule applying to the download traffic"}}},"ToolResultsStep":{"title":"ToolResultsStep","type":"object","properties":{"executionId":{"type":"string","description":"A tool results execution ID.\n@OutputOnly"},"stepId":{"type":"string","description":"A tool results step ID.\n@OutputOnly"},"projectId":{"type":"string","description":"The cloud project that owns the tool results step.\n@OutputOnly"},"historyId":{"type":"string","description":"A tool results history ID.\n@OutputOnly"}},"description":"Represents a tool results step resource.\n\nThis has the results of a TestExecution."},"TrafficRule":{"title":"TrafficRule","type":"object","properties":{"packetLossRatio":{"type":"number","description":"Packet loss ratio (0.0 - 1.0)"},"burst":{"type":"number","description":"Burst size in kbits"},"bandwidth":{"type":"number","description":"Bandwidth in kbits/second"},"packetDuplicationRatio":{"type":"number","description":"Packet duplication ratio (0.0 - 1.0)"},"delay":{"type":"string","description":"Packet delay, must be >= 0"}},"description":"Network emulation parameters"},"AndroidInstrumentationTest":{"title":"AndroidInstrumentationTest","type":"object","properties":{"testApk":{"description":"The APK containing the test code to be executed.\nRequired","$ref":"#/components/schemas/FileReference"},"testRunnerClass":{"type":"string","description":"The InstrumentationTestRunner class.\nOptional, default is determined by examining the application's manifest."},"testPackageId":{"type":"string","description":"The java package for the test to be executed.\nOptional, default is determined by examining the application's manifest."},"appPackageId":{"type":"string","description":"The java package for the application under test.\nOptional, default is determined by examining the application's manifest."},"appApk":{"description":"The APK for the application under test.\nRequired","$ref":"#/components/schemas/FileReference"},"orchestratorOption":{"description":"The option of whether running each test within its own invocation of\ninstrumentation with Android Test Orchestrator or not.\n** Orchestrator is only compatible with AndroidJUnitRunner version 1.0 or\nhigher! **\nOrchestrator offers the following benefits:\n - No shared state\n - Crashes are isolated\n - Logs are scoped per test\n\nSee\n<https://developer.android.com/training/testing/junit-runner.html#using-android-test-orchestrator>\nfor more information about Android Test Orchestrator.\n\nOptional, if empty, test will be run without orchestrator.","$ref":"#/components/schemas/OrchestratorOption"},"testTargets":{"type":"array","items":{"type":"string"},"description":"Each target must be fully qualified with the package name or class name,\nin one of these formats:\n - \"package package_name\"\n - \"class package_name.class_name\"\n - \"class package_name.class_name#method_name\"\n\nOptional, if empty, all targets in the module will be run."}},"description":"A test of an Android application that can control an Android component\nindependently of its normal lifecycle.\nAndroid instrumentation tests run an application APK and test APK inside the\nsame process on a virtual or physical AndroidDevice.  They also specify\na test runner class, such as com.google.GoogleTestRunner, which can vary\non the specific instrumentation framework chosen.\n\nSee <http://developer.android.com/tools/testing/testing_android.html> for\nmore information on types of Android tests."},"OrchestratorOption":{"title":"OrchestratorOption","enum":["ORCHESTRATOR_OPTION_UNSPECIFIED","USE_ORCHESTRATOR","DO_NOT_USE_ORCHESTRATOR"],"type":"string","example":"ORCHESTRATOR_OPTION_UNSPECIFIED"},"DeviceFile":{"title":"DeviceFile","type":"object","properties":{"obbFile":{"description":"A reference to an opaque binary blob file","$ref":"#/components/schemas/ObbFile"}},"description":"A single device file description."},"ClientInfoDetail":{"title":"ClientInfoDetail","type":"object","properties":{"key":{"type":"string","description":"The key of detailed client information.\nRequired"},"value":{"type":"string","description":"The value of detailed client information.\nRequired"}},"description":"Key-value pair of detailed information about the client which invoked the\ntest. For example {'Version', '1.0'}, {'Release Track', 'BETA'}"},"EnvironmentVariable":{"title":"EnvironmentVariable","type":"object","properties":{"value":{"type":"string","description":"Value for the environment variable"},"key":{"type":"string","description":"Key for the environment variable"}},"description":"A key-value pair passed as an environment variable to the test"},"Environment":{"title":"Environment","type":"object","properties":{"androidDevice":{"description":"An Android device which must be used with an Android test.","$ref":"#/components/schemas/AndroidDevice"}},"description":"The environment in which the test is run."},"GoogleCloudStorage":{"title":"GoogleCloudStorage","type":"object","properties":{"gcsPath":{"type":"string","description":"The path to a directory in GCS that will\neventually contain the results for this test.\nThe requesting user must have write access on the bucket in the supplied\npath.\nRequired"}},"description":"A storage location within Google cloud storage (GCS)."},"TestExecution":{"title":"TestExecution","type":"object","properties":{"matrixId":{"type":"string","description":"Id of the containing TestMatrix.\n@OutputOnly"},"testDetails":{"description":"Additional details about the running test.\n@OutputOnly","$ref":"#/components/schemas/TestDetails"},"environment":{"description":"How the host machine(s) are configured.\n@OutputOnly","$ref":"#/components/schemas/Environment"},"state":{"description":"Indicates the current progress of the test execution (e.g., FINISHED).\n@OutputOnly","$ref":"#/components/schemas/State"},"toolResultsStep":{"description":"Where the results for this execution are written.\n@OutputOnly","$ref":"#/components/schemas/ToolResultsStep"},"projectId":{"type":"string","description":"The cloud project that owns the test execution.\n@OutputOnly"},"testSpecification":{"description":"How to run the test.\n@OutputOnly","$ref":"#/components/schemas/TestSpecification"},"id":{"type":"string","description":"Unique id set by the backend.\n@OutputOnly"},"timestamp":{"type":"string","description":"The time this test execution was initially created.\n@OutputOnly"}},"description":"Specifies a single test to be executed in a single environment."},"RoboDirective":{"title":"RoboDirective","type":"object","properties":{"resourceName":{"type":"string","description":"The android resource name of the target UI element\nFor example,\n   in Java: R.string.foo\n   in xml: @string/foo\nOnly the “foo” part is needed.\nReference doc:\nhttps://developer.android.com/guide/topics/resources/accessing-resources.html\nRequired"},"inputText":{"type":"string","description":"The text that Robo is directed to set. If left empty, the directive will be\ntreated as a CLICK on the element matching the resource_name.\nOptional"},"actionType":{"description":"The type of action that Robo should perform on the specified element.\nRequired.","$ref":"#/components/schemas/ActionType"}},"description":"Directs Robo to interact with a specific UI element if it is encountered\nduring the crawl. Currently, Robo can perform text entry or element click."},"ActionType":{"title":"ActionType","enum":["ACTION_TYPE_UNSPECIFIED","SINGLE_CLICK","ENTER_TEXT"],"type":"string","example":"ACTION_TYPE_UNSPECIFIED"},"AndroidMatrix":{"title":"AndroidMatrix","type":"object","properties":{"orientations":{"type":"array","items":{"type":"string"},"description":"The set of orientations to test with.\nUse the EnvironmentDiscoveryService to get supported options.\nRequired"},"androidVersionIds":{"type":"array","items":{"type":"string"},"description":"The ids of the set of Android OS version to be used.\nUse the EnvironmentDiscoveryService to get supported options.\nRequired"},"locales":{"type":"array","items":{"type":"string"},"description":"The set of locales the test device will enable for testing.\nUse the EnvironmentDiscoveryService to get supported options.\nRequired"},"androidModelIds":{"type":"array","items":{"type":"string"},"description":"The ids of the set of Android device to be used.\nUse the EnvironmentDiscoveryService to get supported options.\nRequired"}},"description":"A set of Android device configuration permutations is defined by the\nthe cross-product of the given axes.  Internally, the given AndroidMatrix\nwill be expanded into a set of AndroidDevices.\n\nOnly supported permutations will be instantiated.  Invalid permutations\n(e.g., incompatible models/versions) are ignored."},"AndroidModel":{"title":"AndroidModel","type":"object","properties":{"supportedAbis":{"type":"array","items":{"type":"string"},"description":"The list of supported ABIs for this device.\nThis corresponds to either android.os.Build.SUPPORTED_ABIS (for API level\n21 and above) or android.os.Build.CPU_ABI/CPU_ABI2.\nThe most preferred ABI is the first element in the list.\n\nElements are optionally prefixed by \"version_id:\" (where version_id is\nthe id of an AndroidVersion), denoting an ABI that is supported only on\na particular version.\n@OutputOnly"},"name":{"type":"string","description":"The human-readable marketing name for this device model.\nExamples: \"Nexus 5\", \"Galaxy S5\"\n@OutputOnly"},"id":{"type":"string","description":"The unique opaque id for this model.\nUse this for invoking the TestExecutionService.\n@OutputOnly"},"tags":{"type":"array","items":{"type":"string"},"description":"Tags for this dimension.\nExamples: \"default\", \"preview\", \"deprecated\""},"manufacturer":{"type":"string","description":"The manufacturer of this device.\n@OutputOnly"},"brand":{"type":"string","description":"The company that this device is branded with.\nExample: \"Google\", \"Samsung\"\n@OutputOnly"},"screenX":{"type":"integer","description":"Screen size in the horizontal (X) dimension measured in pixels.\n@OutputOnly","format":"int32"},"codename":{"type":"string","description":"The name of the industrial design.\nThis corresponds to android.os.Build.DEVICE\n@OutputOnly"},"screenY":{"type":"integer","description":"Screen size in the vertical (Y) dimension measured in pixels.\n@OutputOnly","format":"int32"},"form":{"description":"Whether this device is virtual or physical.\n@OutputOnly","$ref":"#/components/schemas/Form"},"screenDensity":{"type":"integer","description":"Screen density in DPI.\nThis corresponds to ro.sf.lcd_density\n@OutputOnly","format":"int32"},"supportedVersionIds":{"type":"array","items":{"type":"string"},"description":"The set of Android versions this device supports.\n@OutputOnly"}},"description":"A description of an Android device tests may be run on."},"Form":{"title":"Form","enum":["DEVICE_FORM_UNSPECIFIED","VIRTUAL","PHYSICAL"],"type":"string","example":"DEVICE_FORM_UNSPECIFIED"}}},"security":[{}]}