$listIndentation: 30px;
$groupHeaderPadding: 5px;

* {
  font-family: "Segoe UI", "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
  box-sizing: border-box;
}

h1 {
  font-weight: 100;
}

ul {
  list-style: none;
  padding: 0;
}

.group {
  margin-bottom: 3px;

  > a {
    align-items: center;
    color: inherit;
    display: flex;
    font-size: 22px;
    font-weight: 100;
    text-decoration: none;
    padding: 5px;

    &:hover {
      background-color: #f6f6f6;
    }

    > svg {
      fill: none;
      flex-basis: 15px;
      flex-grow: 0;
      flex-shrink: 0;
      margin-right: $listIndentation - 15px - $groupHeaderPadding;
      height: 20px;
      stroke: currentColor;
      transition: all .2s ease-in-out;
    }
  }

  > ul {
    display: none;
    font-size: 16px;
    font-weight: 400;
    padding-left: $listIndentation;
  }

  &.isOpen {
    > a > svg {
      transform: rotate(90deg);
    }

    > ul {
      display: block;
      margin-bottom: 10px;

      a {
        -webkit-font-smoothing: antialiased;
        color: #0078D4;
        font-size: 14px;
        font-weight: 400;
        outline: none;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }

      > li {
        margin-top: 3px;
      }
    }
  }
}
