<!doctype html>
<meta charset="UTF-8">
<title><%= htmlWebpackPlugin.options.title %></title>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap" rel="stylesheet">
<svg style="display: none">
  <defs>
    <symbol id="icon-chevron" viewBox="0 0 24 24">
      <path d="M9.984 6l6 6-6 6-1.406-1.406 4.594-4.594-4.594-4.594z"></path>
    </symbol>
  </defs>
</svg>
<div id="results"></div>

<% if (htmlWebpackPlugin.options.inlineBundle) { %>
<script>
  window.resultData = "INJECT-DATA-HERE";
</script>
<script>
  <%= compilation.getAsset('bundle.js').source._value %>
</script>
<% } else { %>
<script>
  // NOTE: Test data - does not get inlined.
  window.resultData = `
  [
    {
      "label": "First group",
      "items": [
        {
          "label": "First item",
          "url": "foo"
        },
        {
          "label": "Second item",
          "url": "bar"
        }
      ]
    },
    {
      "label": "Second group",
      "items": [
        {
          "label": "First item of the second group",
          "url": "baz"
        }
      ]
    }
  ]
  `;
</script>
<script src="bundle.js"></script>
<% } %>

