# Workflow is unable to retrieve data about previous workflows (the same file).
# This workflow is a way to preserve last run date for full_suite_integration_tests.yml workflow
# which is available from within that workflow
name: "Pointer - Integration Tests"
on:
  repository_dispatch:
    types: [ integration-pointer]

permissions:  # limit the permissions of the GITHUB_TOKEN to reading repository contents
  contents: read

jobs:
  point:
    runs-on: ubuntu-latest
    steps:
      - run: |
          echo "Integration tests pointer updated: $(date +'%Y-%m-%d')"
