name: RELEASE

# Run when push on master or create tag with version [v*] for only changes to the test_runner/**
on:
  push:
    paths:
      - 'test_runner/**'
      - 'firebase_api/test_api/**'
    branches:
      - 'master'
    tags: v*

jobs:
  release:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v2

    - uses: gradle/wrapper-validation-action@v1

    - name: Get all git tags
      run: |
        git fetch --prune --unshallow --tags -f
        git tag

    - name: Download flankScripts and add it to PATH
      env: 
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: |
        ./gradlew :flank-scripts:download
        echo "./flank-scripts/bash" >> $GITHUB_PATH

    - name: Set env variables
      run: |
        echo "MVN_REVISION=$(echo $GITHUB_SHA)" >> $GITHUB_ENV

          if [[ $GITHUB_REF == refs/tags/* ]]
            then
              echo "MVN_VERSION=$(echo ${GITHUB_REF:11})" >> $GITHUB_ENV
              echo "RELEASE_TAG=$(echo ${GITHUB_REF:10})" >> $GITHUB_ENV
            else
              echo "RELEASE_TAG=flank-snapshot" >> $GITHUB_ENV
              echo "MVN_VERSION=master-SNAPSHOT" >> $GITHUB_ENV
              git_short_hash=$(git rev-parse --short "$GITHUB_SHA")
              echo "GIT_SHORT_HASH=$(echo $git_short_hash)" >> $GITHUB_ENV
          fi;

    - name: Store version variables to file
      run: |
          echo "$GITHUB_SHA" > ./test_runner/src/main/resources/revision.txt
          echo "$RELEASE_TAG" > ./test_runner/src/main/resources/version.txt

    - name: Gradle Build Flank
      uses: eskatos/gradle-command-action@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        HEAD_REF: ${{ github.head_ref }}
      with:
        arguments: "clean test_runner:build test_runner:shadowJar"

    - name: Authenticate to hub
      run: |
            mkdir -p ~/.config/

            cat << EOF > ~/.config/hub
            github.com:
            - user: $GITHUB_ACTOR
              oauth_token: ${{ secrets.GITHUB_TOKEN }}
              protocol: https
            EOF

    - name: Delete old release
      run: |
        hub version
        flankScripts github delete_release --git-tag=$RELEASE_TAG

    - name: Delete old tag
      if: ${{ env.RELEASE_TAG == 'flank-snapshot' }}
      run: flankScripts github delete_old_tag --git-tag=$RELEASE_TAG --username=$GITHUB_ACTOR --token=${{ secrets.GITHUB_TOKEN }}

    - name: Release snapshot
      if: ${{ env.RELEASE_TAG == 'flank-snapshot' }}
      run: flankScripts github make_release --input-file=./test_runner/build/libs/flank.jar --git-tag=$RELEASE_TAG --commit-hash=$GIT_SHORT_HASH --snapshot

    - name: Release stable
      if: startsWith(github.ref, 'refs/tags/v')
      run: flankScripts github make_release --input-file=./test_runner/build/libs/flank.jar --git-tag=$RELEASE_TAG --token=${{ secrets.GITHUB_TOKEN }}

    - name: Gradle Upload to MavenCentral
      uses: eskatos/gradle-command-action@v1
      env:
        PGP_SIGNING_KEY: ${{ secrets.PGP_SIGNING_KEY }}
      with:
        arguments: :test_runner:publishMavenJavaPublicationToMavenCentralRepository -PMVN_CENTRAL_USER=${{ secrets.MVN_CENTRAL_USER }} -PMVN_CENTRAL_PASSWORD=${{ secrets.MVN_CENTRAL_PASSWORD }}

    - name: Gradle close staging on MavenCentral
      uses: eskatos/gradle-command-action@v1
      if: startsWith(github.ref, 'refs/tags/v')
      with:
        arguments: closeAndReleaseRepository -PMVN_CENTRAL_USER=${{ secrets.MVN_CENTRAL_USER }} -PMVN_CENTRAL_PASSWORD=${{ secrets.MVN_CENTRAL_PASSWORD }}

    - name: Gradle Upload to GitHub packages
      uses: eskatos/gradle-command-action@v1
      if: startsWith(github.ref, 'refs/tags/v')
      env:
        PGP_SIGNING_KEY: ${{ secrets.PGP_SIGNING_KEY }}
      with:
        arguments: ":test_runner:publishMavenJavaPublicationToGitHubPackagesRepository -PGITHUB_TOKEN=${{ secrets.GITHUB_TOKEN }}"

    - name: Post Message of Flank Release
      uses: Flank/flank_slack_notifier@master
      if: startsWith(github.ref, 'refs/tags/v')
      with:
        xoxctoken: ${{ secrets.SLACK_XOXCTOKEN }}
        message: Flank ${{ env.RELEASE_TAG }} has been released. View more information <http://github.com/Flank/flank/releases/tag/${{ env.RELEASE_TAG }}| here!>
        channel: ${{ secrets.SLACK_CHANNEL}}
        cookie: ${{ secrets.SLACK_COOKIE}}

    - name: Team notification in case of failure
      uses: Flank/flank_slack_notifier@master
      if: failure() && startsWith(github.ref, 'refs/tags/v')
      with:
        xoxctoken: ${{ secrets.SLACK_ERROR_NOTIFICATION_XOXCTOKEN }}
        message: There was a problem with slack release ${{ env.RELEASE_TAG }}. Check <https://github.com/Flank/flank/actions/runs/${{ github.run_id }}| here!>
        channel: ${{ secrets.SLACK_ERROR_NOTIFICATION_CHANNEL}}
        cookie: ${{ secrets.SLACK_ERROR_NOTIFICATION_COOKIE}}
