name: "Generate release notes for next commit"

on: 
  workflow_dispatch:
# Temporary disable automatic Flank stable releases
#  schedule:
#    - cron: 0 7 1 * *

jobs:
  generateReleaseNotes:
    runs-on: macos-latest

    steps:
    - uses: actions/checkout@v2
    - uses: gradle/wrapper-validation-action@v1
    - name: Get all git tags
      run: |
        git fetch --prune --unshallow --tags
        git tag

# Temporary disable ASCII doc generation because is failing and blocking crucial release.
#    - name: Generate documentation
#      uses: eskatos/gradle-command-action@v1
#      with:
#        arguments: "test_runner:processCliAsciiDoc"

    - name: Download flankScripts and add it to PATH
      env: 
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: |
        ./gradlew :flank-scripts:download
        echo "./flank-scripts/bash" >> $GITHUB_PATH

    - name: Set next release tag variable
      run: |
        TAG=$(flankScripts release next_tag --token=${{ secrets.GITHUB_TOKEN }})
        echo "NEXT_RELEASE_TAG=$(echo $TAG)" >> $GITHUB_ENV

    - name: Append release note
      run: |
        flankScripts release generate_release_notes --token=${{ secrets.GITHUB_TOKEN }}

    - uses: tibdex/github-app-token@v1
      id: generate-token
      with:
        app_id: ${{ secrets.FLANK_RELEASE_APP_ID }}
        private_key: ${{ secrets.FLANK_RELEASE_PRIVATE_KEY }}

    - name: Commit files and create Pull request
      id: pr
      uses: peter-evans/create-pull-request@v3
      with:
        token: ${{ steps.generate-token.outputs.token }}
        commit-message: "[Automatic PR] Generate release notes"
        signoff: false
        branch: 'release/${{ env.NEXT_RELEASE_TAG }}'
        title: 'chore: release notes for ${{ env.NEXT_RELEASE_TAG }}'
        body: "Auto generated release notes for `${{ env.NEXT_RELEASE_TAG }}` by @${{ github.actor }}"
        labels: |
          automated pr
          release
        reviewers: bootstraponline
        draft: false

    - name: Team notification in case of failure
      uses: Flank/flank_slack_notifier@master
      if: failure()
      with:
        xoxctoken: ${{ secrets.SLACK_ERROR_NOTIFICATION_XOXCTOKEN }}
        message: There was a problem with Flank release ${{ env.RELEASE_TAG }}. Check <https://github.com/Flank/flank/actions/runs/${{ github.run_id }}| here!>
        channel: ${{ secrets.SLACK_ERROR_NOTIFICATION_CHANNEL}}
        cookie: ${{ secrets.SLACK_ERROR_NOTIFICATION_COOKIE}}
