name: "Release Flank Scripts"

on:
  push:
    paths:
      - 'flank-scripts/**'
    branches:
      - 'master'

# TODO: update workflow permissions to least privilege after auditing all the APIs used
# permissions:  # limit the permissions of the GITHUB_TOKEN to reading repository contents
#   contents: read

jobs:
  release:
    runs-on: ubuntu-latest

    steps:
    - name: Harden Runner
      uses: step-security/harden-runner@v2
      with:
        egress-policy: audit
        # TODO: change to 'egress-policy: block' after auditing a number of runs and updating the allowed-endpoints option accordingly

    - uses: actions/checkout@v4
    - uses: gradle/wrapper-validation-action@v3

    - name: Gradle Upload to GitHub packages and GitHub release
      uses: gradle/gradle-build-action@v3.5.0
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        arguments: "flank-scripts:releaseFlankScripts -PGITHUB_TOKEN=${{ secrets.GITHUB_TOKEN }}"
