name: "[Code Health] Run update dependencies"

on:
  schedule:
    - cron: '0 5 * * 1' # At 05:00 on Monday
  workflow_dispatch:    # or manually

jobs:
  get_date:
    runs-on: ubuntu-latest
    outputs:
      date: ${{ steps.date.outputs.date }}
    steps:
      - name: Get current date
        id: date
        run: echo "::set-output name=date::$(date +'%Y-%m-%d')"

  update_dependencies:
    runs-on: macos-latest
    needs: [ get_date ]
    steps:
      - uses: actions/checkout@v2

      - uses: tibdex/github-app-token@v1
        id: generate-token
        with:
          app_id: ${{ secrets.FLANK_RELEASE_APP_ID }}
          private_key: ${{ secrets.FLANK_RELEASE_PRIVATE_KEY }}

      - name: Gradle dependency updates raport
        uses: eskatos/gradle-command-action@v1
        with:
          arguments: dependencyUpdates -DoutputFormatter=json -DoutputDir=.

      - name: Download flankScripts and add it to PATH
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GRADLE_ENTERPRISE_ACCESS_KEY: ${{ secrets.GRADLE_ENTERPRISE_ACCESS_KEY }}
        run: |
          ./gradlew :flank-scripts:download
          echo "./flank-scripts/bash" >> $GITHUB_PATH

      - name: Update dependencies
        run: |
          flankScripts dependencies update

      - name: Commit files and create Pull request
        id: pr
        uses: peter-evans/create-pull-request@v3
        with:
          token: ${{ steps.generate-token.outputs.token }}
          commit-message: "[Automatic PR] Dependencies update"
          signoff: false
          branch: "dependencies-update-${{ needs.get_date.outputs.date }}"
          title: "build: Dependencies updates [${{ needs.get_date.outputs.date }}]"
          body: "Dependencies updates"
          labels: |
            automated pr
            dependencies
          reviewers: adamvduke,jakeouellette,tonybaroneee
          draft: false

  update_firebase_api:
    runs-on: macos-latest
    needs: [ get_date ]
    steps:
      - uses: actions/checkout@v2

      - uses: tibdex/github-app-token@v1
        id: generate-token
        with:
          app_id: ${{ secrets.FLANK_RELEASE_APP_ID }}
          private_key: ${{ secrets.FLANK_RELEASE_PRIVATE_KEY }}

      - name: Setup python
        uses: actions/setup-python@v2
        with:
          python-version: '2.x'

      - name: Download flankScripts and add it to PATH
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GRADLE_ENTERPRISE_ACCESS_KEY: ${{ secrets.GRADLE_ENTERPRISE_ACCESS_KEY }}
        run: |
          ./gradlew :flank-scripts:download
          echo "./flank-scripts/bash" >> $GITHUB_PATH

      - name: Update Java Client
        run: |
          pip install google-apis-client-generator
          flankScripts firebase update_api
          flankScripts firebase generate_client

      - name: Commit files and create Pull request
        id: pr
        uses: peter-evans/create-pull-request@v3
        with:
          token: ${{ steps.generate-token.outputs.token }}
          commit-message: "[Automatic PR] Firebase API Client update"
          signoff: false
          branch: "firebase-api-client-update-${{ needs.get_date.outputs.date }}"
          title: "build: Firebase API Client update [${{ needs.get_date.outputs.date }}]"
          body: "Firebase Api update"
          labels: |
            automated pr
            firease_api
          reviewers: adamvduke,jakeouellette,tonybaroneee
          draft: false

  check_for_sdk_updates:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v2
      - name: Download flankScripts and add it to PATH
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GRADLE_ENTERPRISE_ACCESS_KEY: ${{ secrets.GRADLE_ENTERPRISE_ACCESS_KEY }}
        run: |
          ./gradlew :flank-scripts:download
          echo "./flank-scripts/bash" >> $GITHUB_PATH

      - name: Run SDK check
        run: |
          flankScripts firebase check_for_sdk_updates \
          --github-token=${{ secrets.GITHUB_TOKEN }} \
          --zenhub-token=${{ secrets.ZENHUB_API_KEY }}

  trigger-pointer:
    runs-on: ubuntu-latest
    needs: [ check_for_sdk_updates ]
    if: always()
    steps:
      - uses: tibdex/github-app-token@v1
        id: generate-token
        with:
          app_id: ${{ secrets.FLANK_RELEASE_APP_ID }}
          private_key: ${{ secrets.FLANK_RELEASE_PRIVATE_KEY }}

      - name: Dispatch repository event
        uses: peter-evans/repository-dispatch@v1
        with:
          token: ${{ steps.generate-token.outputs.token }}
          event-type: dependencies-pointer
