name: Update dependencies

on:
  schedule:
    - cron: '0 5 * * 1' # At 05:00 on Monday
  workflow_dispatch:    # or manually

jobs:
  update_dependencies:
    runs-on: macos-latest

    steps:
      - uses: actions/checkout@v2
        with:
          submodules: true

      - name: Gradle dependency updates raport
        uses: eskatos/gradle-command-action@v1
        with:
            arguments: dependencyUpdates -DoutputFormatter=json -DoutputDir=.

      - name: Download flankScripts and add it to PATH
        run: |
          ./gradlew :flank-scripts:download
          echo "./flank-scripts/bash" >> $GITHUB_PATH

      - name: Update dependencies
        run: |
          flankScripts dependencies update

      - name: Get current date
        id: date
        run: echo "::set-output name=date::$(date +'%Y-%m-%d')"

      - name: Commit files and create Pull request
        id: pr
        uses: peter-evans/create-pull-request@v3
        with:
          commit-message: "[Automatic PR] Dependencies update"
          signoff: false
          branch: "dependencies-update-${{ steps.date.outputs.date }}"
          title: "build: Dependencies updates [${{ steps.date.outputs.date }}]"
          body: "Dependencies updates"
          labels: |
            automated pr
            dependencies
          reviewers: bootstraponline,jan-gogo,pawelpasterz,adamfilipow92,piotradamczyk5,Sloox,axelzuziak-gogo
          draft: false 
