# Workflow is unable to retrieve data about previous workflows (the same file).
# This workflow is a way to preserve last run date for update_dependencies_and_client.yml workflow
# which is available from within that workflow
name: "Pointer - Dependencies Update"
on:
  repository_dispatch:
    types: [ dependencies-pointer ]

permissions:  # limit the permissions of the GITHUB_TOKEN to reading repository contents
  contents: read

jobs:
  point:
    runs-on: ubuntu-latest
    steps:
      - run: |
          echo "Dependencies pointer updated: $(date +'%Y-%m-%d')"
