<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FlankGameLoopExample.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>8D0B1E4D3E6B2C8DC40B88081C4B47B35DC8EA32</string>
				<key>dateExpires</key>
				<string>12/11/2021</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>L2UF9MLSM6.io.gogoapps.flankgameloop</string>
				<key>com.apple.developer.team-identifier</key>
				<string>L2UF9MLSM6</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>L2UF9MLSM6.io.gogoapps.flankgameloop</string>
				</array>
			</dict>
			<key>name</key>
			<string>FlankGameLoopExample.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>2ae4df9b-e4ab-494a-8d61-80d08ca668ad</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: io.gogoapps.flankgameloop</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>L2UF9MLSM6</string>
				<key>name</key>
				<string></string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
